.image_container {
    width: calc(100% - 20px);
    margin: 0 auto;
    background-color: white;
    padding: 5px;
    margin-top: 15px;
    border-radius: 4px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    .image_container .title {
        font-size: .9em;
        padding: 5px;
        color: #505050;
    }

    .image_container .images ul {
        padding: 0 5px;
    }

        .image_container .images ul li {
            float: left;
            width: 25%;
            position: relative;
            margin: 15px 0;
        }

            .image_container .images ul li .inner {
                width: 70px;
                height: 70px;
                margin: 0 auto;
                position: relative;
                background-color: #f9f9f9;
            }

                .image_container .images ul li .inner .image {
                    overflow: hidden;
                    position: relative;
                    width: 70px;
                    height: 70px;
                    border-radius: 3px;
                }

                    .image_container .images ul li .inner .image img {
                        width: 100%;
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        top: 0;
                        margin: auto;
                    }

                .image_container .images ul li .inner .remove {
                    position: absolute;
                    z-index: 1;
                    font-size: 1.2em;
                    width: 22px;
                    height: 22px;
                    text-align: center;
                    line-height: 22px;
                    right: -11px;
                    top: -11px;
                    color: #8c8c8c;
                }

            .image_container .images ul li.plus .inner {
                text-align: center;
                line-height: 70px;
                border-radius: 3px;
            }

            .image_container .images ul li.plus .iconfont {
                font-size: 2em;
                color: #e8e8e8;
            }

.input_group {
    box-shadow: 0px 0px 10px #f1f1f1;
}

    .input_group .input_line .input_text,
    .input_group .input_line .input_control {
        font-size: .9em;
    }

    .input_group .text_count {
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        font-size: .9em;
        color: #7b7b7b;
        text-align: right;
        background-color: #fbfbfb;
    }

    .input_group .text {
        padding: 10px 15px;
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 100px;
        font-size: .9em;
        resize: none;
    }

    .input_group .input_line .arrow.file_upload {
        position: relative;
    }

        .input_group .input_line .arrow.file_upload .file_control {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 45px;
            opacity: 0;
        }

.border {
    width: calc(100% - 20px);
    bottom: 30px;
    border-radius: 8px;
}
