<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
    <title></title>
    <link href="../../../content/css/base.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.0/lib/index.css">
    <link href="../../../content/css/pages/center/child/seller.info.css" rel="stylesheet" />
</head>
<body>
    <div id="app">
        <div id="app-head" class="fixed van-hairline--bottom" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
            <i id="app-back-button" class="iconfont iconzuo right-back"></i>
            <div class="app-head-text" v-text="language.TITLE_TEXT"></div>
        </div>
        <div id="app-content" style="padding-top:45px;">
            <div v-if="isLoading" class="loading-box p50">
                <van-loading color="black"></van-loading>
                <p class="loading-text" v-text="language.LOADING_TEXT"></p>
            </div>
            <div class="panel" v-else v-cloak>
                <div class="seller">
                    <div class="avatar_box clearfix">
                        <img v-lazy="pageModel.Seller.Avatar" class="avatar_left" />
                        <div class="avatar_right">
                            <p class="nn" v-text="pageModel.Seller.NickName"></p>
                            <p class="fn" v-text="'ID：' + pageModel.Seller.FlowNumber"></p>
                        </div>
                    </div>
                    <p class="phone"  v-if="pageModel.ReceiveType === '1'" >
                        <span>搶購EP：</span>
						<span v-text="pageModel.EPAmount" style=" margin-right:10px;"></span>
                    </p>
					<p class="phone"  v-if="pageModel.ReceiveType === '1'" >
						<span >換算匯率：</span>
						<span v-text="pageModel.EPToUsdtStr" style=" margin-right:10px;"> </span>
                    </p>
					<p class="phone"  v-if="pageModel.ReceiveType === '1'" >
						<span >支付金額：</span>
						<span v-text="pageModel.NetincomeStr" style=" margin-right:10px;"> </span>
                    </p>
	 
                </div>

	 
		
                <van-collapse v-model="activeName" accordion>
                    <van-collapse-item v-if="pageModel.ReceiveType === '1'" v-bind:title="language.ITEM_1" name="1">
                        <div class="card">
                            <p class="bank_name" v-text="pageModel.Seller.OfflinePay.BankName"></p>
                            <p class="bank_zh" v-text="pageModel.Seller.OfflinePay.BankBranchName"></p>
                            <p class="bank_number" v-text="formatBankCardNumber()"></p>
                            <p class="bank_card_name clearfix">
                                <span class="left" v-text="pageModel.Seller.OfflinePay.BankCardName"></span>
                                <span class="right" v-text="language.COPY_BUTTON_TEXT">長按卡號複製</span>
                            </p>
                        </div>
                    </van-collapse-item>
                    <van-collapse-item v-else-if="pageModel.ReceiveType === '2'" v-bind:title="language.ITEM_4" name="2">
                        <div class="usdt_panel" v-if="usdtModel.omni && usdtModel.omni !== 'null'">
                            <p class="usdt_caption" style="margin-bottom:10px; margin-top:10px;">搶購EP：</p>
                            <p  v-text="pageModel.EPAmount" style="margin-bottom:10px; margin-top:10px;"></p>
	            <p class="usdt_caption" style="margin-bottom:10px; margin-top:10px;">換算匯率：</p>
                            <p  v-text="pageModel.EPToUsdtStr" style="margin-bottom:10px; margin-top:10px;"></p>
	          <p class="usdt_caption" style="margin-bottom:10px; margin-top:10px;">支付數量：</p>
                            <p v-text="pageModel.NetincomeStr" style="margin-bottom:10px; margin-top:10px;"></p>
	            <p class="usdt_caption" style="margin-bottom:10px; margin-top:10px;">TRC20地址：</p>
                            <p  v-text="usdtModel.omni" style="margin-bottom:10px; margin-top:10px;"></p>
                            <button class="copy">
                                <i class="iconfont iconcopy"></i>
                                <span v-text="language.COPY_USDT_ADDRESS_BUTTON">長按上方地址複製</span>
                            </button>
                        </div>
                        <div class="usdt_panel" v-if="usdtModel.erc && usdtModel.erc !== 'null'">
                            <p class="usdt_caption">ERC地址</p>
                            <p class="err" v-text="usdtModel.erc"></p>
                            <button class="copy">
                                <i class="iconfont iconcopy"></i>
                                <span v-text="language.COPY_USDT_ADDRESS_BUTTON">長按上方地址複製</span>
                            </button>
                        </div>
                        <div class="usdt_panel" v-if="usdtModel.trc && usdtModel.trc !== 'null'">
                            <p class="usdt_caption">TRC地址</p>
                            <p class="err" v-text="usdtModel.trc"></p>
                            <button class="copy">
                                <i class="iconfont iconcopy"></i>
                                <span v-text="language.COPY_USDT_ADDRESS_BUTTON">長按上方地址複製</span>
                            </button>
                        </div>
                    </van-collapse-item>
                    <van-collapse-item v-else-if="pageModel.ReceiveType === '3'" v-bind:title="language.COLLAPSE_TITLE_2" name="3">
                        <div class="alipay">
                            <div class="alipay_line">
                                <p class="alipay_title" v-text="language.ALIPAY_REAL_NAME"></p>
                                <div class="alipay_value center" v-text="pageModel.Seller.OfflinePay.BankCardName"></div>
                            </div>
                            <div class="alipay_line">
                                <p class="alipay_title" v-text="language.ALIPAY_ACCOUNT"></p>
                                <div class="alipay_value center">
                                    <span class="alipay_account" v-text="pageModel.Seller.Alipay"></span>
                                    <van-button type="info"
                                                size="small"
                                                v-text="language.COPY_ACCOUNT"></van-button>
                                </div>
                            </div>
                            <div class="alipay_line none" v-if="pageModel.Seller.Alipay2DCode">
                                <p class="alipay_title" v-text="language.ALIPAY_QR"></p>
                                <div class="alipay_value">
                                    <img v-bind:src="pageModel.Seller.Alipay2DCode" />
                                    <p class="alipay_tip">
                                        <i class="iconfont icontousu"></i>
                                        <span v-text="language.ALIPAY_QR_SAVE"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </van-collapse-item>
                </van-collapse>
            </div>
        </div>
    </div>
    <script src="../../../content/js/vue.js?v=28"></script>
    <script src="../../../content/js/vant.min.js?v=28"></script>
    <script src="../../../content/js/base.js?v=28"></script>
    <script src="../../../content/js/pages/center/child/seller.info.js?v=28"></script>
</body>
</html>