<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title></title>
    <link href="/content/css/vant.css" rel="stylesheet" />
    <link href="/content/css/base.css" rel="stylesheet" />
    <link href="/assets/css/notice_list.css" rel="stylesheet">
    <script src="html5plus://ready"></script>
</head>

<body>
    <div id="app">
        <div id="app-head" class="fixed" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
            <i id="app-back-button" class="iconfont iconzuo right-back"></i>
            <p class="app-head-text" v-text="language.TITLE_TEXT"></p>
        </div>
        <div id="app-content" v-bind:style="{'paddingTop': 45 + statusbarHeight + 'px'}">
            <div v-if="isLoading" class="loading-box p50">
                <van-loading color="black"></van-loading>
                <p class="loading-text" v-text="language.LOADING_TEXT"></p>
            </div>
            <div class="html_container" v-else v-cloak>
                <div v-if="list.data.length === 0" class="none-data">
                    <i class="iconfont icon-wushuju"></i>
                    <p class="none-data-text" v-text="language.NONE_DATA"></p>
                </div>
                <div v-else class="notice_content">
                    <ul>
                        <li class="msg-item" v-for="(item, index) in list.data" v-bind:key="index" @click="gotoDetail(item)">
                            <div class="title">
                                <div class="left">
                                    <div class="title">
                                        <img src="/assets/images/notice/message.svg" /><span>{{item.Title}}</span>
                                    </div>
                                </div>
                                <div class="right">{{item.CreateTime}}</div>
                            </div>
                            <div class="content">
                                <div class="left">{{item.Text}}</div>
                                <div class="right"><i class="iconfont iconjiantou"></i></div>
                            </div>
                        </li>
                    </ul>
                    <div v-if="list.isLoadMore" class="load_more clearfix">
                        <van-loading color="black"></van-loading>
                        <span class="load_text" v-text="language.LOADING_TEXT"></span>
                    </div>
                    <div v-if="list.isLoadComplete" class="load_more_complete">
                        <span class="load_text" v-text="language.NONE_MORE_DATA"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../content/js/vue.js?v=28"></script>
    <script src="../../content/js/vant.min.js?v=28"></script>
    <script src="../../content/js/base.js?v=28"></script>
    <script>
        var _vue = new Vue({
            el: '#app',
            data: {
                'currentUser': APP.GLOBAL.getUserModel(),
                'isLoading': true,
                'list': {
                    'isLoadMore': false,
                    'isLoadComplete': false,
                    'data': [],
                    'pageIndex': 1,
                    'pageSize': 15
                },
                'language': {},
                'statusbarHeight': 0
            },
            methods: {
                'gotoDetail': function (item) {
                    APP.GLOBAL.gotoNewWindow('last.notice.detailPage', 'last.notice.detail', {
                        param: 'nId=' + item.Id
                    });
                },
                'loadPageData': function (isAppend) {
                    if (isAppend) {
                        this.list.isLoadMore = true;
                    }

                    APP.GLOBAL.ajax({
                        url: APP.CONFIG.BASE_URL + 'Notice_List',
                        data: {
                            'p': this.list.pageIndex,
                            'pageSize': this.list.pageSize
                        },
                        success: function (result) {
                            if (result.Error) {
                                APP.GLOBAL.toastMsg(result.Msg);
                                return;
                            }

                            _vue.list.pageIndex++;

                            if (isAppend) {
                                _vue.list.data = _vue.list.data.concat(result.Data.List);
                                _vue.list.isLoadMore = false;
                                _vue.list.isLoadComplete = (result.Data.List.length < _vue.list.pageSize);
                            } else {
                                _vue.list.data = result.Data.List;
                                _vue.isLoading = false;
                            }
                        }
                    });
                },
                'windowScroll': function () {
                    if (!this.list.isLoadMore && !this.list.isLoadComplete) {
                        this.loadPageData(true);
                    }
                },
                'changeLanguage': function () {
                    LSE.install('notice.list', function (lang) {
                        Vue.set(_vue, 'language', lang);
                    });
                }
            },
            created: function () {
                this.changeLanguage();
            },
            mounted: function () {
                this.loadPageData();
                window.scrollBottom = this.windowScroll;
            }
        });
    </script>
</body>

</html>