<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
    <title></title>
    <link href="/content/css/base.css" rel="stylesheet" />
    <link href="/content/css/vant.css" rel="stylesheet" />
    <!-- <link href="/content/css/pages/subpages/queue.css" rel="stylesheet" /> -->
    <link href="/assets/css/queue.css" rel="stylesheet">

</head>

<body>
    <div id="app">
        <div id="app-head" class="fixed" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
            <i id="app-back-button" class="iconfont iconzuo right-back"></i>
            <div class="app-head-text" v-text="language.TITLE_TEXT"></div>
        </div>
        <div id="app-content" v-bind:style="{'paddingTop': (45 + statusbarHeight) + 'px'}">
            <div class="queue-page">
                <div class="search-wrap" :style="{top:(45 + statusbarHeight)}">
                    <div class="search-box">
                        <img src="/assets//images/queue/search-icon.svg">
                        <input class="search-input" type="number" :placeholder="language.SEARCH_PLACEHOLDER" v-model="pageModel.searchKey" @keyup.enter="doSearchAjax">
                        <div class="clear" v-show="pageModel.searchKey" @click="loadPageData">
                            <i id="app-back-button" class="iconfont iconbaseline-close-px right-back"></i>
                        </div>
                    </div>
                    <div class="btn" @click="doSearchAjax">搜索</div>
                </div>
                <div class="list-wrap" @scroll="handleScroll" ref="scrollContainer">
                    <div class="list-head">
                        <div class="item first" v-text="language.HEAD_TEXT_1"></div>
                        <div class="item id" v-text="language.HEAD_TEXT_2"></div>
                        <div class="item mo">{{language.HEAD_TEXT_3}}($)</div>
                        <div class="item time" v-text="language.HEAD_TEXT_4"></div>
                    </div>
                    <div class="list-body">
                        <div v-if="isLoading" class="loading-box">
                            <van-loading color="black"></van-loading>
                            <p class="loading-text" v-text="language.LOADING_TEXT"></p>
                        </div>
                        <div v-else v-cloak>
                            <div v-if="pageModel.list.length==0" class="none-data">
                                <i class="iconfont icon-wushuju"></i>
                                <p class="none-data-text" v-text="language.NONE_DATA"></p>
                            </div>
                            <div class="list">
                                <div class="item-wrap" v-for="(item,index) in pageModel.list">
                                    <div class="item first" v-text="item.ID"></div>
                                    <div class="item id" v-text="item.FlowNumber"></div>
                                    <div class="item mo" v-text="item.AP"></div>
                                    <div class="item time" v-text="item.CreateTime"></div>
                                </div>
                                <div v-if="pageModel.isLoadMore" class="load_more clearfix">
                                    <van-loading color="black"></van-loading>
                                    <span class="load_text" v-text="language.LOADING_TEXT"></span>
                                </div>
                                <div v-if="pageModel.isLoadComplete" class="load_more_complete">
                                    <span class="load_text" v-text="language.NOMORE"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="data-info">
                    <div class="item left">
                        <div class="label">ID</div>
                        <div class="value">{{pageModel.lastFlowNumber}}</div>
                    </div>
                    <div class="item right">
                        <div class="label">{{language.BOTTOM_TEXT_2}}</div>
                        <div class="value">{{numberFormat(pageModel.queueCount, 0)}}</div>
                    </div>
                </div>
            </div>
            <!-- <div class="head_content">
                <form action="/">
                    <van-search v-bind:placeholder="language.SEARCH_PLACEHOLDER" show-action
                        v-model="pageModel.searchKey" @cancel="loadPageData" @search="doSearchAjax"
                        @focus="pageModel.isShowBottom = false" @blur="pageModel.isShowBottom = true">
                        <div slot="action" @click="loadPageData" v-text="language.CANCEL_SEARCH">取消</div>
                    </van-search>
                </form>
                <ul class="head clearfix">
                    <li class="first" v-text="language.HEAD_TEXT_1"></li>
                    <li class="id" v-text="language.HEAD_TEXT_2"></li>
                    <li class="mo">{{language.HEAD_TEXT_3}}($)</li>
                    <li class="time" v-text="language.HEAD_TEXT_4"></li>
                </ul>
            </div> -->
        </div>
    </div>
    <script src="../../content/js/vue.js?v=28"></script>
    <script src="../../content/js/vant.min.js?v=28"></script>
    <script src="../../content/js/base.js?v=28"></script>
    <script src="../../content/js/pages/subpages/queue.js?v=28"></script>
</body>

</html>