.van-tabs__wrap {
    top: inherit;
    position: fixed;
}

.van-hairline--top-bottom::after {
    border-top-width: 0;
}

.van-tab {
    color: #444444;
}

.van-tab--active {
    color: #068dfe;
}

.van-tabs__line {
    background-color: #068dfe;
}

.van-tabs--line {
    padding-top: 0;
}

.van-tabs__content {
    padding-top: 44px;
}

.list {
    width: calc(100% - 20px);
    margin: 0 auto;
}

    .list > li {
        margin: 10px 0;
        background-color: white;
        border-radius: 4px;
        padding: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        box-shadow: 0px 0px 10px #f1f1f1;
    }

        .list > li:active {
            background-color: #f9f9f9;
        }

        .list > li .top {
            height: 30px;
        }

            .list > li .top .image {
                width: 28px;
                height: 28px;
                display: block;
                border-radius: 50%;
                float: left;
                border: 1px solid #efefef;
            }

            .list > li .top .fn {
                float: left;
                width: calc(100% - 100px);
                height: 30px;
                line-height: 30px;
                color: #068dfe;
                font-size: .9em;
            }

            .list > li .top .state {
                float: right;
                width: 60px;
                line-height: 30px;
                text-align: center;
            }

                .list > li .top .state span {
                    font-size: .7em;
                    background-color: #068dfe;
                    color: white;
                    padding: 3px 5px;
                    border-radius: 4px;
                }

        .list > li .info {
            display: flex;
            width: 100%;
            margin-top: 15px;
        }

    .list.tab1 > li .info {
        margin-top: 10px;
    }

    .list > li .info li {
        width: 33.3333%;
        text-align: center;
    }

        .list > li .info li.full {
            width: 100%;
        }

        .list > li .info li p.value {
            font-size: 1.3em;
            height: 25px;
            line-height: 25px;
            color: #5c6875;
        }

        .list > li .info li.full p.value {
            font-weight: bold;
        }

            .list > li .info li.full p.value sup {
                font-weight: normal;
                font-size: .5em;
            }

        .list > li .info li.full p.text {
            margin-top: 10px;
        }

        .list > li .info li p.text {
            font-size: .8em;
            height: 20px;
            line-height: 20px;
            margin-top: 5px;
            color: #068dfe;
        }

    .list > li .time {
        text-align: right;
        height: 25px;
        line-height: 25px;
        font-size: .8em;
        margin-top: 15px;
        color: #8e8e8e;
        margin-top: 10px;
    }

        .list > li .time .text {
            float: left;
        }

        .list > li .time .value {
            float: right;
        }
