<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
    <title></title>
    <link href="/content/css/base.css" rel="stylesheet" />
    <link href="/content/css/vant.css" rel="stylesheet" />
    <link href="/assets/css/vue-component.css" rel="stylesheet" />
    <link href="/assets/css/forgot.css" rel="stylesheet" />

</head>
<body>
  <div id="app">
    <div class="Forgot">
      <top-back :title="language.TITLE_TEXT"></top-back>
      <div class="content">
        <div class="item username">
          <div class="label">{{ language.INPUT_TEXT_1 }}</div>
          <input
            type="text"
            class="input"
            :placeholder="language.INPUT_PLACEHOLDER_1"
            maxlength="15"
            v-model="form.account"
          />
        </div>
        <div class="item password-type">
          <div class="password-type-item" @click="form.changeType = 1">
            <div class="label">{{ language.t1 }}</div>
            <Checkbox :checked="form.changeType === 1"></Checkbox>
          </div>
          <div class="password-type-item" @click="form.changeType = 2">
            <div class="label">{{ language.t2 }}</div>
            <Checkbox :checked="form.changeType === 2"></Checkbox>
          </div>
        </div>
        <div class="item new-password">
          <div class="new-password-item">
            <div class="label">{{ language.PASSWORD_1 }}</div>
            <input
              type="password"
              class="input"
              :placeholder="language.PASSWORD_PLACEHOLDER_1"
              maxlength="15"
              v-model="form.password"
            />
          </div>
          <div class="new-password-item">
            <div class="label">{{ language.PASSWORD_2 }}</div>
            <input
              type="password"
              class="input"
              :placeholder="language.PASSWORD_PLACEHOLDER_2"
              maxlength="15"
              v-model="form.confirmpassword"
            />
          </div>
        </div>
        <div class="item mnemonic">
          <div class="label">{{ language.t3 }}</div>
          <input
            type="text"
            class="input"
            maxlength="30"
            :placeholder="mnemonicid1"
            v-model="form.mnemonicstr1"
          />
        </div>
        <div class="item custom-question">
          <div class="label">{{ language.t4 }}</div>
          <input
            type="text"
            class="input"
            placeholder="点击输入问题答案"
            maxlength="30"
            :placeholder="mnemonicid1"
            v-model="form.Answer"
          />
        </div>
      </div>
      <custom-button :text="language.BUTTON_1":height="53" @click="nextStep"></custom-button>
    </div>
  </div>

  <script src="/content/js/vue.js?v=28"></script>
  <script src="/content/js/vant.min.js?v=28"></script>
  <script src="/content/js/base.js?v=28"></script>
  <script src="/content/js/vue-component.js?v=28"></script>
  <script src="/content/js/pages/account/forgot.js?v=28"></script>
</body>
</html>