<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
    <title>AK</title>
    <link href="/content/css/base.css" rel="stylesheet" />
    <link href="/content/css/vant.css" rel="stylesheet" />
    <link href="/content/css/pages/account/login.css" rel="stylesheet" />
</head>
<body>
    <div id="app" @click="hideDropdownlist">
        <div id="app-head" class="fixed bg-none" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
            <button class="right-back" @click="APP.GLOBAL.gotoNewWindow('languagesPage', '../subpages/languages', {param:'from=login'})" v-text="language.CHANGE_LANGUAGE"></button>
            <button class="submit-button" v-text="language.CHANGE_LINES" @click="gotoLines"></button>
        </div>
        <div class="bg"></div>
        <div class="top_content"></div>
        <div class="text_content">
            <img src="/content/img/logo_400.png" class="logo" />
            <p v-if="request.canclose" class="des text-left">
                <span v-text="language.RELOGIN_TEXT"></span>
                <span v-text="language.RELOGIN_ACTION" class="blue" @click="window.location = '/index.html'"></span>
            </p>
        </div>
        <div class="input_content" v-bind:class="{'top': !request.canclose}">
            <div class="input_line">
                <i class="iconfont iconmyfill lefticon"></i>
                <input type="text" v-model="form.account" maxlength="20" class="input_control r-1" v-bind:placeholder="language.INPUT_TEXT_1" />
                <i class="iconfont r-content" v-bind:class="[isDropdownList ? 'iconicon-test' : 'iconicon-test1']" @click.stop="isDropdownList = !isDropdownList" style="display: none;"></i>
                <transition name="van-fade">
                    <div class="dropdown_list" v-show="isDropdownList" v-cloak>
                        <ul v-if="localList.length > 0">
                            <li v-for="(item, index) in localList"
                                v-bind:key="index"
                                @click="choiceList(item)">
                                <span class="player_id" v-text="item.account"></span>
                                <i class="iconfont iconbaseline-close-px close" @click.stop="removeAccount(item)" ></i>
                            </li>
                        </ul>
                        <p v-else class="none-local" v-text="language.NONE_LOCAL_TEXT"></p>
                    </div>
                </transition>
            </div>
            <div class="input_line" v-show="!isDropdownList">
                <i class="iconfont iconsuo lefticon"></i>
                <input type="password" v-model="form.password" maxlength="16" class="input_control" v-bind:placeholder="language.INPUT_TEXT_2" />
            </div>
            <div class="middle clearfix" v-show="!isDropdownList">
                <van-checkbox v-model="isRemember" class="remember" style="display: none;">
                    <span v-text="language.MIDDLE_TEXT_1"></span>
                    <i slot="icon"
                       class="iconfont"
                       slot-scope="props"
                       v-bind:class="[props.checked ? 'iconcheckboxchecked' : 'iconcheckboxunchecked']"></i>
                </van-checkbox>
                <p class="forgot" v-text="language.MIDDLE_TEXT_2" @click="!isLogin && APP.GLOBAL.gotoNewWindow('forgotPage', 'forgot')"></p>
            </div>
            <div class="action" v-cloak v-show="!isDropdownList">
                <div class="login color4" v-if="!isLogin">
                    <span class="inner"></span>
                    <i class="iconfont iconyou" @click="checkInput"></i>
                </div>
                <van-loading class="big" v-else></van-loading>
            </div>
            <div class="bottom" v-bind:style="{'top': (screenHeight - 149) + 'px'}" v-cloak>
                <p class="ver" v-text="publicVersion"></p>
            </div>
        </div>
    </div>
    <script src="/content/js/vue.js?v=28"></script>
    <script src="/content/js/vant.min.js?v=28"></script>
    <script src="/content/js/base.js?v=28"></script>
    <script src="/content/js/pages/account/login.js?v=28"></script>
</body>
</html>