.input_content {
    margin-top: 10px;
}

.input_content.pd {
    background-color: white;
    padding: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: calc(100% - 20px);
    margin: 0 auto;
    border-radius: 4px;
}

.input_content .rule {
    display: block;
    margin-bottom: 10px;
}

.input_content .rules {
    padding-left: 15px;
}

    .input_content .rules .rule_item {
        font-size: .8em;
        color: #777;
        line-height: 20px;
        list-style-type: disc;
    }

.warn {
    padding: 10px;
    font-size: .9em;
    margin-top: 5px;
    color: #f9bc0b;
    background-color: #fef7e1;
    border-color: #fef3d2;
    text-align: left;
    width: calc(100% - 20px);
    margin: 0 auto;
    box-sizing:border-box;
    text-align:center;
}

    .warn.text-center {
        text-align: center;
    }

.confirm_button.normal {
    margin-top: 5%;
}
.margin_auto {
    display:block;
    margin:0 auto;
}
    .margin_auto::-webkit-input-placeholder {
        text-align:center;
    }
