<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
  <title></title>
  <link href="/content/css/base.css" rel="stylesheet" />
  <link href="/content/css/vant.css" rel="stylesheet" />
  <link href="/assets/css/vue-component.css" rel="stylesheet" />
  <link href="/assets/css/change.password.css" rel="stylesheet" />

</head>
<body>
  <!-- <div id="app">
      <div id="app-head" class="van-hairline--bottom" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
          <i id="app-back-button" class="iconfont iconzuo right-back"></i>
          <div class="app-head-text" v-text="language.TITLE_TEXT"></div>
      </div>
      <div id="app-content">
          <div v-if="isLoadingAnswer" class="loading-box">
              <van-loading color="black"></van-loading>
              <p class="loading-text" v-text="language.LOADING"></p>
          </div>
          <div v-else v-cloak>
              <div class="input_content">
                  <div class="input_content pd">
                      <p class="rule" v-text="language.RULE_TITLE"></p>
                      <ul class="rules">
                          <li class="rule_item" v-text="language.RULE_ITEM_1"></li>
                          <li class="rule_item" v-text="language.RULE_ITEM_2"></li>
                      </ul>
                  </div>
                  <div class="input_group">
                      <div class="input_line van-hairline--bottom">
                          <span class="input_text" v-text="language.INPUT_TEXT_1"></span>
                          <input type="password"
                                  class="input_control"
                                  v-model="form.oldPassword"
                                  maxlength="16"
                                  v-bind:placeholder="language.INPUT_PLACEHOLDER_1" />
                      </div>
                      <div class="input_line van-hairline--bottom">
                          <span class="input_text" v-text="language.INPUT_TEXT_2"></span>
                          <input type="password"
                                  class="input_control"
                                  v-model="form.password"
                                  maxlength="16"
                                  v-bind:placeholder="language.INPUT_PLACEHOLDER_2" />
                      </div>
                      <div class="input_line van-hairline--bottom">
                          <span class="input_text" v-text="language.INPUT_TEXT_3"></span>
                          <input type="password"
                                  class="input_control"
                                  v-model="confirmPassword"
                                  maxlength="16"
                                  v-bind:placeholder="language.INPUT_PLACEHOLDER_3" />
                      </div>
                  </div>
              </div>
              <div class="input_content">
                  <div class="input_group">
                      <div class="input_line">
                          <p style="text-align:center" class="input_control margin_auto"   v-text="questionDisplay"></p>
                      </div>
                      <div class="input_line">
                          <input type="text"
                                  class="input_control margin_auto"
                                  v-model="form.answer"
                                  style="text-align:center"
                                  v-bind:placeholder="language.INPUT_TEXT_5" />
                      </div>
                  </div>
              </div>
              <div class="input_content">
                  <button class="confirm_button" v-text="language.BUTTON_1" @click="checkData">確認修改</button>
              </div>
          </div>
      </div>
  </div> -->

  <div id="app">
    <div class="ChangePassword">
      <top-back title="修改登录密码"></top-back>
      <div class="content-container">
        <div class="content1">
          <div class="text">
            <p>登录密码最少6位；</p>
            <p>必须包含大写字母、小写字母和数字</p>
          </div>
        </div>
        <div class="content2">
          <div class="item">
            <div class="label">当前登录密码</div>
            <input class="input" type="text" placeholder="請輸入当前登录密码" />
          </div>
          <div class="item">
            <div class="label">新登录密码</div>
            <input class="input" type="text" placeholder="請輸入新的登录密码" />
          </div>
          <div class="item">
            <div class="label">重复登录密码</div>
            <input class="input" type="text" placeholder="点击重复输入登录密码" />
          </div>
        </div>

        <div class="content3">
          <div class="label">您的自定义问题！（答案可随意）</div>
          <input type="text" class="input" placeholder="点击输入问题答案" />
        </div>
      </div>
      <custom-button text="确认修改"></custom-button>
    </div>
  </div>
  <script src="/content/js/vue.js?v=28"></script>
  <script src="/content/js/vant.min.js?v=28"></script>
  <script src="/content/js/base.js?v=28"></script>
  <script src="/content/js/vue-component.js?v=28"></script>
  <script src="/content/js/pages/center/security/change.password.js?v=28"></script>
</body>
</html>