<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
  <title></title>
  <link href="/content/css/base.css" rel="stylesheet" />
  <link href="/content/css/vant.css" rel="stylesheet" />
  <link href="/assets/css/vue-component.css" rel="stylesheet" />
  <link href="/assets/css/reset.mnemonic.css" rel="stylesheet" />

</head>
<body>
  <!-- <div id="app">
      <div id="app-head" class="van-hairline--bottom" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
          <i id="app-back-button" class="iconfont iconzuo right-back"></i>
          <div class="app-head-text" v-text="language.TITLE_TEXT"></div>
      </div>
      <div v-if="isLoading" class="loading-box p50">
          <van-loading color="black"></van-loading>
          <p class="loading-text" v-text="language.LOADING_TEXT">正在加載...</p>
      </div>
      <div id="app-content" v-else v-cloak>

    <div class="input_content pd">
              <p class="rule" v-text="language.Tip_0"></p>
              <ul class="rules">
        <li class="rule_item" v-text="language.Tip_1"></li>
        <li class="rule_item" v-text="language.Tip_2"></li>
              </ul>
          </div>







    <div class="input_group border">
                  <div class="input_line full">
                      <p class="text_line" v-text="display.questionDisplay"></p>
                      <input type="text" class="full_control" v-model="form.answer" v-bind:placeholder="language.INPUT_PLACEHOLDER_4" maxlength="30" />
                  </div>
              </div>


    <div class="input_group">


      <div class="input_line van-hairline--bottom">
                      <span class="input_text" v-text="language.INPUT_TEXT_3">交易密碼</span>
                      <input type="password" class="input_control" style="text-align:left" v-model="form.password" v-bind:placeholder="language.INPUT_PLACEHOLDER_3" maxlength="16" />
                  </div>

      <div class="input_line">
        <span class="input_text" v-text="language.INPUT_TEXT_1">谷歌驗證碼</span>
        <input type="tel" class="input_control" v-model="form.gCode" style="flex: 1;width: 0; text-align:left;" v-bind:placeholder="language.INPUT_PLACEHOLDER_1" maxlength="6" />
        <button style="padding: 0 20px !important; background: #1181cf; color: #fff;" @click="clipFunc">Paste</button>
      </div>
    </div>





          <button class="confirm_button" @click="checkInput" v-text="language.BUTTON_1">確認提交</button>

      </div>
  </div> -->

  <div id="app">
    <div class="ResetMnemonic">
      <top-back title="重置助记词"></top-back>
      <div class="content-container">
        <div class="content1">
          <div class="text">
            <p>助记词重置后，谷歌验证码将重置</p>
            <p>助记词是账户归属档的重要准证</p>
          </div>
        </div>

        <div class="content2">
          <div class="item">
            <div class="label">您母亲的姓名是？</div>
            <input type="text" class="input" placeholder="点击输入问题答案" />
          </div>
        </div>

        <div class="content3">
          <div class="item">
            <div class="label">交易密码</div>
            <input type="text" class="input" placeholder="请输入您的交易密码" />
          </div>
          <div class="item">
            <div class="label">谷歌验证码</div>
            <google-v-code></google-v-code>
          </div>
        </div>
      </div>
      <custom-button text="确认重置"></custom-button>
    </div>
  </div>
  <script src="/content/js/vue.js?v=28"></script>
  <script src="/content/js/vant.min.js?v=28"></script>
  <script src="/content/js/base.js?v=28"></script>
  <script src="/content/js/vue-component.js?v=28"></script>
  <script src="/content/js/pages/center/security/reset.mnemonic.js?v=28"></script>
</body>
</html>