html, body {
    background-color: white;
}

#app-head {
    border-bottom: 0;
}

.van-password-input {
    margin-top: 40%;
}

.box {
    margin-top: 25%;
}

    .box .iconfont {
        font-size: 7em;
        color: #268400;
        display: block;
        width: 125px;
        height: 125px;
        margin: 0 auto;
    }

    .box .key {
        padding: 15px 10px;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        background-color: #f9f9f9;
        border-radius: 4px;
        color: #929292;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

        .box .key .title {
            margin-bottom: 15px;
            color: #5a5a5a;
            font-size: .8em;
        }

        .box .key #aCode {
            width: 100%;
        }

    .box .info {
        text-align: center;
        font-size: .9em;
        margin-top: 5px;
    }

    .box .confirm_button {
        width: 90%;
        margin-top: 15px;
    }
