.none-data.p50 {
    padding: 60% 0;
}

.van-pull-refresh {
    overflow: inherit;
}

.bg {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
}

.van-tabs {
    position: absolute;
    width: 100%;
    padding-bottom: 65px;
}

.van-tabs__wrap {
    top: inherit;
    position: fixed;
}

.van-hairline--top-bottom::after {
    border-top-width: 0;
}

.van-tab {
    color: #444444;
}

.van-tab--active {
    color: #068dfe;
}

.van-tabs__line {
    background-color: #068dfe;
}

#app-head .right-back {
    font-size: .9em;
    width: initial;
    padding: 0 10px;
}

#app-head .submit-button {
    font-size: .9em;
    font-weight: normal;
}

.list {
    width: calc(100% - 20px);
    margin: 0 auto;
}

    .list > li {
        margin: 10px 0;
        background-color: white;
        border-radius: 4px;
        padding: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        box-shadow: 0px 0px 10px #f1f1f1;
    }

        .list > li:active {
            background-color: #f9f9f9;
        }

        .list > li .top {
            height: 30px;
        }

            .list > li .top .image {
                width: 28px;
                height: 28px;
                display: block;
                border-radius: 50%;
                float: left;
                border: 1px solid #efefef;
            }

            .list > li .top .fn {
                float: left;
                width: calc(100% - 160px);
                height: 30px;
                margin-left: 10px;
                line-height: 30px;
                color: #068dfe;
            }

            .list > li .top .state {
                float: left;
                width: 120px;
                line-height: 30px;
                text-align: right;
                font-size: .8em;
            }

                .list > li .top .state span {
                    font-size: .8em;
                    color: #7d7e80;
                }

                .list > li .top .state.blue {
                    color: #068dfe;
                }

                .list > li .top .state.green {
                    color: green;
                }

        .list > li .info {
            display: flex;
            width: 100%;
            margin-top: 15px;
        }

            .list > li .info li {
                width: 50%;
                text-align: center;
            }

                .list > li .info li p.value {
                    font-size: 1.3em;
                    height: 25px;
                    line-height: 25px;
                    color: #5c6875;
                }

                .list > li .info li p.text {
                    font-size: .7em;
                    height: 20px;
                    line-height: 20px;
                    color: #068dfe;
                }

        .list > li .bottom {
            margin-top: 15px;
        }

            .list > li .bottom .support_pay {
                float: left;
                height: 25px;
                display: flex;
            }

                .list > li .bottom .support_pay .receive_button {
                    display: block;
                    height: 27px;
                    line-height: 27px;
                    width: 80px;
                    font-size: .8em;
                    color: white;
                    background-color: #1e81d2;
                    border-radius: 4px;
                }

                .list > li .bottom .support_pay .pay_icon {
                    display: block;
                    width: 20px;
                    height: 20px;
                    margin-top: 2.5px;
                }

            .list > li .bottom .time {
                text-align: right;
                height: 25px;
                line-height: 25px;
                font-size: .8em;
                color: #8e8e8e;
                float: right;
            }




/* */

.input_group {
    box-shadow: 0px 0px 10px #f1f1f1;
	margin-top: 5px;
}

    .input_group .input_line .input_text {
        color: #5c6875;
		width:37px;
    }
	
	.input_group .input_line .all {
        padding: 0 20px !important; background: #1181cf; color: #fff; font-size:0.8em; width:87px;
    }
	
	.input_group .input_line .input_control {
        width: calc(100%);
		/*width: calc(100% - 167px);*/
		font-size: .8em;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		padding: 10px;
		line-height: 25px;
		height: 45px;
    }

    .input_group .input_line .input_control .pos {
        display: flex;
        width: 100%;
        border: 1px solid #068dfe;
        border-radius: 4px;
    }

        .input_group .input_line .input_control .pos .block {
            width: 50%;
            height: 25px;
            text-align: center;
        }

            .input_group .input_line .input_control .pos .block.checked {
                background-color: #068dfe;
                color: white;
            }

            .input_group .input_line .input_control .pos .block:first-child {
                border-right: 1px solid #068dfe;
            }
.input_group .input_line .input_control.red {
    color: red;
}