<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
  <title></title>
  <link href="/content/css/base.css" rel="stylesheet" />
  <link href="/content/css/vant.css" rel="stylesheet" />
  <link href="/assets/css/vue-component.css" rel="stylesheet" />
  <link href="/assets/css/ace.list.detail.css" rel="stylesheet" />

</head>
<body>
    <!-- <div id="app">
        <div id="app-head" class="fixed van-hairline--bottom" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
            <i id="app-back-button" class="iconfont iconzuo right-back"></i>
            <div class="app-head-text" v-text="language.TITLE_TEXT"></div>
        </div>
        <div id="app-content" v-bind:style="{'paddingTop': (45 + statusbarHeight) + 'px'}">
            <div v-if="isLoading" class="loading-box p50">
                <van-loading color="black"></van-loading>
                <p class="loading-text" v-text="language.LOADING_TEXT"></p>
            </div>
            <div v-else v-cloak>
                <div class="block top">
                    <p class="title" v-text="language.BLOCK_1_TITLE">賣家信息</p>
                    <img v-lazy="pageModel.User.Avatar" class="avatar" />
                    <div class="fn" v-text="pageModel.User.FlowNumber"></div>
                </div>
                <div class="block sell">
                    <p class="title" v-text="language.BLOCK_2_TITLE">挂賣信息</p>
                    <div class="content">
                        <ul>
                            <li>
                                <p class="value">
                                    <span v-text="numberFormat(pageModel.ReadonlyStockCount, 0)"></span>
                                    <sup>AK</sup>
                                </p>
                                <p class="text" v-text="language.List_1">挂卖总数</p>
                            </li>
                            <li>
                                <p class="value">
                                    <span v-text="numberFormat(pageModel.mycancel, 0)"></span>
                                    <sup>AK</sup>
                                </p>
                                <p class="text" v-text="language.List_2">交易销毁</p>
                            </li>
                            <li>
                                <p class="value">
                                    <span v-text="numberFormat(pageModel.success, 0)"></span>
                                    <sup>AK</sup>
                                </p>
                                <p class="text" v-text="language.List_3">已成交</p>
                            </li>
                        </ul>
<ul>
                            <li>
                                <p class="value">
                                    <span v-text="numberFormat(pageModel.SinglePrice, 3)"></span>
                                    <sup>＄</sup>
                                </p>
                                <p class="text" v-text="language.List_4">成交价</p>
                            </li>
                            <li>
                                <p class="value">
                                    <span v-text="numberFormat(pageModel.successvalue, 2)"></span>
                                    <sup>＄</sup>
                                </p>
                                <p class="text" v-text="language.List_5">成交价值</p>
                            </li>
                            <li>
                                <p class="value">
                                    <span v-text="numberFormat(pageModel.StockCount,0)"></span>
                                    <sup>AK</sup>
                                </p>
                                <p class="text" v-text="language.List_6">待成交</p>
                            </li>
                        </ul>
                        <p class="time" v-text="pageModel.CreateTime"></p>
                    </div>
                </div>
                <div class="block list">
                    <p class="title" v-text="language.BLOCK_3_TITLE">買家列表</p>
                    <div class="content">
                        <div v-if="isLoadBuyList" class="loading-box pd-10">
                            <van-loading color="black"></van-loading>
                            <p class="loading-text" v-text="language.LOADING_TEXT"></p>
                        </div>
                        <table v-else class="table table-hover table-light">
                            <thead>
                                <tr>
                                    <th> # </th>
                                    <th class="text-center" v-text="language.TABLE_TH_1">買家</th>
                                    <th class="text-center" v-text="language.TABLE_TH_2">成交價</th>
                                    <th class="text-center" v-text="language.TABLE_TH_3">數量</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item,index) in pageModel.buyList"
                                    v-bind:key="index">
                                    <td v-text="index + 1"></td>
                                    <td class="text-center" v-text="item.User.FlowNumber + ' ' + item.User.NickName + ''"></td>
                                    <td class="text-center" v-text="numberFormat(item.SinglePrice, 3)"></td>
                                    <td class="text-center" v-text="numberFormat(item.AceAmount, 0)"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

  <div id="app">
    <div class="AceListDetail">
      <top-back title="交易详情"></top-back>
      <div class="detial-info">
        <div class="top">
          <div class="avatar"></div>
          <div class="name">6965554</div>
        </div>
        <div class="center">
          <div class="center-item">
            <div class="center-item-top">
              <div class="center-item-top-text1">200</div>
              <div class="center-item-top-text2">王牌</div>
            </div>
            <div class="center-item-label">挂賣總數</div>
          </div>
          <div class="center-item">
            <div class="center-item-top">
              <div class="center-item-top-text1">20</div>
              <div class="center-item-top-text2">王牌</div>
            </div>
            <div class="center-item-label">交易銷毀</div>
          </div>
          <div class="center-item">
            <div class="center-item-top">
              <div class="center-item-top-text1">162</div>
              <div class="center-item-top-text2">王牌</div>
            </div>
            <div class="center-item-label">已成交 </div>
          </div>
          <div class="center-item">
            <div class="center-item-top">
              <div class="center-item-top-text1">0.252</div>
              <div class="center-item-top-text2">$</div>
            </div>
            <div class="center-item-label">成交價</div>
          </div>
          <div class="center-item">
            <div class="center-item-top">
              <div class="center-item-top-text1">40.82</div>
              <div class="center-item-top-text2">$</div>
            </div>
            <div class="center-item-label">成交價值</div>
          </div>
          <div class="center-item">
            <div class="center-item-top">
              <div class="center-item-top-text1">0</div>
              <div class="center-item-top-text2">王牌</div>
            </div>
            <div class="center-item-label">待成交</div>
          </div>
        </div>
        <div class="bottom">2025/6/15 01:22:48</div>
      </div>
      <div class="list-container">
        <div class="list-top">
          <div class="icon"></div>
          <div class="title">买家列表</div>
        </div>

        <div class="list-body">
          <div class="list-body-header">
            <div class="list-body-header-item">#</div>
            <div class="list-body-header-item">买家</div>
            <div class="list-body-header-item">成交值</div>
            <div class="list-body-header-item">数量</div>
          </div>
          <div class="list-body-items">
            <div class="list-body-item" v-for="(n, index) of 3" :key="index">
              <div class="list-body-item-text" style="font-weight: 400;">1</div>
              <div class="list-body-item-text">10043074</div>
              <div class="list-body-item-text">0.256</div>
              <div class="list-body-item-text">630</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/content/js/vue.js?v=28"></script>
  <script src="/content/js/vant.min.js?v=28"></script>
  <script src="/content/js/base.js?v=28"></script>
  <script src="/content/js/vue-component.js?v=28"></script>
  <script src="/content/js/pages/secondpage/ace.list.detail.js?v=28"></script>
</body>
</html>