<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
    <title>AK</title>
    <link href="/content/css/base.css" rel="stylesheet" />
    <link href="/content/css/vant.css" rel="stylesheet" />
    <!-- <link href="/content/css/pages/home.css" rel="stylesheet" /> -->
    <!-- <link href="/content/css/bottom.css" rel="stylesheet" /> -->
    <link href="/assets/css/vue-component.css" rel="stylesheet">
    <link href="/assets/css/home.css" rel="stylesheet">

</head>

<body>
    <div id="app">
        <div id="app-head" class="fixed shadow" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
            <div class="language"
                @click="APP.GLOBAL.gotoNewWindow('languagesPage', '../subpages/languages', {param:'from=home'})">{{
                language.BUTTON_1 }}</div>
            <div class="message" @click="APP.GLOBAL.gotoNewWindow('notice.listPage', 'subpages/notice.list')">
                <img src="/assets/images/home/message.svg">
            </div>
        </div>
        <div id="app-content" v-bind:style="{'paddingTop': (45 + statusbarHeight) + 'px'}">
            <div v-if="isLoading" class="loading-box p50">
                <van-loading color="black"></van-loading>
                <p class="loading-text" v-text="language.LOADING_TEXT"></p>
            </div>
            <van-pull-refresh v-model="isReloading" @refresh="onRefresh" v-else v-cloak
                v-bind:pulling-text="language.PULLING_TEXT" v-bind:loosing-text="language.LOOSING_TEXT"
                v-bind:loading-text="language.LOADING_TEXT" v-bind:success-text="language.SUCCESS_TEXT">
                <div slot="loading" class="pull_refresh">
                    <img src="../content/img/reloading.svg" class="pull_refresh_img" />
                    <span class="pull_refresh_text" v-text="language.LOADING_TEXT"></span>
                </div>
                <div class="notice">
                    <div class="noticeIcon"><img src="/assets/images/home/notice-icon.svg"></div>
                    <div class="noticeMessage">{{language.NOTICE_TITLE}} {{pageModel.lastNotice.Title}}</div>
                </div>
                <div class="dataInfo">
                    <div class="dataContentTop">
                        <div class="left">
                            <div class="leftTop">
                                <div class="titleLabel">{{language.BLOCK_1_TEXT_9}}</div>
                                <div class="value">{{numberFormat(currentUser.TP, 2)}}<span>$</span></div>
                            </div>
                            <div class="leftBottom">
                                <div class="titleLabel">{{language.BLOCK_1_TEXT_4}}</div>
                                <div class="value">{{numberFormat(currentUser.RP, 2)}} <span>$</span></div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="leftTop">
                                <div class="titleLabel">{{numberFormat(currentUser.ACECount,0)}}
                                    <span>{{language.BLOCK_1_TEXT_1}}</span>
                                </div>
                                <div class="value">{{language.BLOCK_1_TEXT_2}}</div>
                            </div>
                            <div class="leftBottom">
                                <div class="titleLabel">{{numberFormat(currentUser.TotalACE + currentUser.ACECount, 0)}}
                                    <span>{{language.BLOCK_1_TEXT_1}}</span>
                                </div>
                                <div class="value">{{language.BLOCK_1_TEXT_3}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="dataContentCenter">
                        <div class="left">
                            <div class="titleLabel">{{language.BLOCK_1_TEXT_5}}</div>
                            <div class="value">{{numberFormat(currentUser.EP, 2)}} <span>$</span></div>
                        </div>
                        <div class="right">
                            <div class="titleLabel">{{language.BLOCK_1_TEXT_6}}</div>
                            <div class="value">{{numberFormat(currentUser.SP, 2)}} <span>$</span></div>
                        </div>
                    </div>
                    <div class="dataContentBottom">
                        <div class="left">
                            <div class="titleLabel">{{language.BLOCK_1_TEXT_7}}</div>
                            <div class="value">{{numberFormat(currentUser.AP, 2)}} <span>$</span></div>
                        </div>
                        <div class="right">
                            <div class="titleLabel">{{language.BLOCK_1_TEXT_8}}</div>
                            <div class="value">{{numberFormat(currentUser.WeeklyMoney, 2)}} <span>$</span></div>
                        </div>
                    </div>
                </div>
                <div class="AkValue">
                    <div class="top">
                        <div class="left">
                            <div class="titleLabel">{{language.BLOCK_TITLE_2}}</div>
                            <div class="rateLabel">
                                <span class="rate">{{numberFormat(currentUser.Rate, 2)}}<span>%</span></span>
                                <span class="label">{{language.BLOCK_2_TEXT_1}}</span>
                            </div>
                        </div>
                        <div class="right">
                            <img src="/assets/images/home/ak-value-right-icon.svg">
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="item">
                            <div class="value">{{numberFormat(joinCapital,2)}}<span>$</span></div>
                            <div class="label">{{language.BLOCK_2_TEXT_2}}</div>
                        </div>
                        <div class="line"></div>
                        <div class="item">
                            <div class="value">{{numberFormat(pageModel.profitData.CurrentACEPrice, 2)}}<span>$</span>
                            </div>
                            <div class="label">{{language.BLOCK_2_TEXT_3}}</div>
                        </div>
                        <div class="line"></div>
                        <div class="item">
                            <div class="value">{{numberFormat(pageModel.profitData.TotalSelledAce, 2)}}<span>$</span>
                            </div>
                            <div class="label">{{language.BLOCK_2_TEXT_4}}</div>
                        </div>

                    </div>
                </div>
                <div class="buyAndSell">
                    <div class="left" @click="gotoQueue">
                        <div class="label">{{language.BLOCK_3_TEXT_1}}</div>
                        <div class="value">{{numberFormat(pageModel.realData.TotalBuyMoney, 2)}}<span>$</span></div>
                    </div>
                    <div class="right">
                        <div class="label">{{language.BLOCK_3_TEXT_2}}</div>
                        <div class="value">0 <span>$</span></div>
                    </div>
                </div>

                <div class="klineBox">
                    <div class="top">
                        <div class="titleLabel">{{language.BLOCK_TITLE_4}}</div>
                        <div class="price">
                            <div class="left">
                                <div class="img"><img src="/assets/images/home/home-kline-price-icon.svg" /></div>
                                <div class="priceVal">
                                    <div class="priceNum">{{numberFormat(pageModel.currentStockPrice, 3)}}<span>$</span>
                                    </div>
                                    <div class="time">{{language.BLOCK_4_TEXT_1 + updateTime}}</div>
                                </div>
                            </div>
                            <div class="right" :class="{active:isExpanded}" @click="toggleExpand"><img
                                    src="/assets/images/home/home-kline-down-icon.svg" /></div>
                        </div>
                    </div>
                    <transition name="expand">
                        <div class="bottom kline" v-show="isExpanded"></div>
                    </transition>
                </div>
                
                <div class="block highChart">
                    <p class="block_title">
                        <i class="iconfont icontubiao1"></i>
                        <span v-text="language.BLOCK_TITLE_4">PRICE</span>
                    </p>
                    <div class="block_content">
                        <!-- <p class="price">
                            <span v-text="numberFormat(pageModel.currentStockPrice, 3)"></span>
                            <sup>＄</sup>
                        </p>
                        <p class="time" v-text="language.BLOCK_4_TEXT_1 + updateTime"></p> -->
                        <div v-if="isLoadChart" class="loading-box pd-10">
                            <van-loading color="black"></van-loading>
                            <p class="loading-text" v-text="language.LOADING_TEXT"></p>
                        </div>
                        <div v-else id="container" style="width:100%; height:300px"></div>
                    </div>
                </div>
            </van-pull-refresh>
        </div>

        <tab-bar></tab-bar>
        <van-popup class="notice_frame" v-model="isNoticeShow" v-cloak v-bind:close-on-click-overlay="false">
            <iframe src="subpages/notice.html"></iframe>
        </van-popup>
    </div>
    <script src="../content/js/vue.js?v=28"></script>
    <script src="../content/js/vant.min.js?v=28"></script>
    <script src="../content/js/base.js?v=28"></script>
    <script src="../content/js/hightcharts.js?v=28"></script>
    <script src="../content/js/highcharts-zh_CN.js?v=28"></script>
    <script src="../content/js/pages/home.js?v=28"></script>
    <script src="/content/js/vue-component.js?v=28"></script>
</body>

</html>