
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
    <title></title>
    <link href="../../content/css/base.css" rel="stylesheet" />
    <link href="../../content/css/vant.css" rel="stylesheet" />
    <link href="../../content/css/pages/center/analyze_chart_Number.css" rel="stylesheet" />
 <script type="text/javascript" src="https://registry.npmmirror.com/echarts/5.5.1/files/dist/echarts.min.js"></script>
</head>

<body>
	
	  
				
	 	
				 
    <div id="app">
        <div id="app-head" class="fixed van-hairline--bottom" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
            <i id="app-back-button" class="iconfont iconzuo right-back"></i>
            <div class="app-head-text" v-text="language.TITLE_TEXT">业绩图表</div>
             
        </div>
        <div id="app-content" v-bind:style="{'paddingTop': (45 + statusbarHeight) + 'px'}">
            <div v-if="isLoading" class="loading-box p50">
                <van-loading color="black"></van-loading>
                <p class="loading-text" v-text="language.LOADING_TEXT">正在載入...</p>
            </div>
            <div v-else v-cloak>
                <div v-if="pageModel.list.length == 0" class="none-data p50">
                    <i class="iconfont iconkong"></i>
                    <p class="none-data-text" v-text="language.NONE_DATA">暫無子賬戶</p>
                </div>
                <div v-else class="list_content" v-bind:class="{'safe': APP.CONFIG.IsSafeArea()}">
                    <ul class="list">
                        <li v-for="(item,index) in pageModel.list"
                            v-bind:key="index">
                            <div class="top clearfix"  >
                                 
                                <div class="top_right">
                                    <p class="fn" v-text="item.DateMonth"></p>
                                </div>
                            </div>
                            <div class="middle">
                                <ul class="info" >
                                    <li>
                                        <p class="value" v-text="numberFormat(item.value1, 0)"></p>
                                        <p class="text" v-text="item.name1">1</p>
                                    </li>
                                    <li>
                                        <p class="value" v-text="numberFormat(item.value2, 0)"></p>
                                        <p class="text" v-text="item.name2">2</p>
                                    </li>
                                    <li>
                                        <p class="value" v-text="numberFormat(item.value3, 0)"></p>
                                        <p class="text" v-text="item.name3">3</p>
                                    </li>
									 
                                    
									 
                                </ul>
								 <ul class="info" >
                                    <li>
                                        <p class="value" v-text="numberFormat(item.value4, 0)"></p>
                                        <p class="text" v-text="item.name4">1</p>
                                    </li>
                                    <li>
                                        <p class="value" v-text="numberFormat(item.value5, 0)"></p>
                                        <p class="text" v-text="item.name5">2</p>
                                    </li>
                                    <li>
                                        <p class="value" v-text="numberFormat(item.value6, 0)"></p>
                                        <p class="text" v-text="item.name6">3</p>
                                    </li>
                                    
									 
                                </ul>
                                 
                            </div>
                        </li>
                    </ul>
                    <div v-if="pageModel.isLoadMore" class="load_more clearfix">
                        <van-loading color="black"></van-loading>
                        <span class="load_text" v-text="language.LOADING_TEXT"></span>
                    </div>
                    <div v-if="pageModel.isLoadComplete" class="load_more_complete">
                        <span class="load_text" v-text="language.NOMORE"></span>
                    </div>
                </div>
                 
                
            </div>
        </div>
    </div>
    <script src="../../content/js/vue.js?v=28"></script>
    <script src="../../content/js/vant.min.js?v=28"></script>
    <script src="../../content/js/base.js?v=28"></script>
    <script src="../../content/js/pages/center/analyze_chart_Number.js?v=28"></script>

</body>

</html>