<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
  <title></title>
  <link href="/content/css/base.css" rel="stylesheet" />
  <link href="/content/css/vant.css" rel="stylesheet" />
  <link href="/assets/css/vue-component.css" rel="stylesheet" />
  <link href="/assets/css/my.complaint.css" rel="stylesheet" />
</head>
<body>
  <!-- <div id="app">
      <div id="app">
          <div id="app-head" class="fixed van-hairline--bottom" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
              <i id="app-back-button" class="iconfont iconzuo right-back"></i>
              <div class="app-head-text" v-text="language.TITLE_TEXT"></div>
              <button class="submit-button" v-text="language.BUTTON_1" @click="APP.GLOBAL.gotoNewWindow('complaintPage', 'complaint')">創建投訴</button>
          </div>
          <div v-if="isLoading" class="loading-box p60">
              <van-loading color="black"></van-loading>
              <p class="loading-text" v-text="language.LOADING_TEXT">正在載入...</p>
          </div>
          <div id="app-content" v-else v-cloak v-bind:style="{'paddingTop': (45 + statusbarHeight) + 'px'}">
              <div v-if="pageModel.list.length === 0" class="none-data p60">
                  <i class="iconfont iconkong"></i>
                  <p class="none-data-text" v-text="language.NONE_DATA">暫無投訴記錄</p>
              </div>
              <div v-else>
                  <ul class="list">
                      <li v-for="(item, index) in pageModel.list"
                          v-bind:key="index"
                          v-bind:class="{'van-hairline--bottom' : index + 1 !== pageModel.list.length}"
                          @click="gotoDetail(item)">
                          <div class="first clearfix">
                              <span class="title" v-text="item.Title"></span>
                          </div>
                          <p class="des" v-text="item.Text"></p>
                          <div class="image" v-if="item.ImageAddress_1">
                              <img v-lazy="item.ImageAddress_1" />
                          </div>
                          <div class="bottom clearfix">
                              <span class="state c1" v-if="!item.IsReplyed" v-text="language.STATE_TEXT_1">等待回复</span>
                              <span class="state c2" v-else v-text="language.STATE_TEXT_2">已回复</span>
                              <span class="time" v-text="item.CreateTime"></span>
                          </div>
                      </li>
                  </ul>
                  <div v-if="pageModel.isLoadMore" class="load_more clearfix">
                      <van-loading color="black"></van-loading>
                      <span class="load_text" v-text="language.LOADING_TEXT">正在載入...</span>
                  </div>
                  <div v-if="pageModel.isLoadComplete" class="load_more_complete">
                      <span class="load_text" v-text="language.NONE_MORE_DATA">沒有更多的數據了...</span>
                  </div>
              </div>
          </div>
      </div>
  </div> -->

  <div id="app">
    <div class="MyComplaint">
      <top-back title="投诉"></top-back>
      <div class="content-container">
        <div class="content1">
          <div class="text">
            <p>提交投诉信息将会扣除您的10RP</p>
            <p>如果反应属实则处理后退还</p>
            <p>如果捏造事实则不予以退还</p>
          </div>
        </div>

        <div class="content2">
          <div class="item current-rp">
            <div class="label">当前RP</div>
            <div class="value">0.00</div>
          </div>
          <div class="item title">
            <div class="label">投訴標題</div>
            <input class="input" type="text" placeholder="請輸入您的投訴標題信息" />
          </div>
          <div class="item upload-img">
            <div class="label">上传图片</div>
            <div class="text">請选择一张与投诉相关的图片</div>
            <!-- <input class="text" type="file" placeholder="請选择一张与投诉相关的图片" /> -->
          </div>
        </div>

        <div class="content3">
          <textarea class="textarea" placeholder="请输入您的投诉内容（最多500字）"></textarea>
        </div>
      </div>
      <custom-button text="确认投诉"></custom-button>
    </div>
  </div>
  <script src="/content/js/vue.js"></script>
  <script src="/content/js/vant.min.js"></script>
  <script src="/content/js/base.js"></script>
  <script src="/content/js/vue-component.js?v=28"></script>
  <script src="/content/js/pages/center/my.complaint.js"></script>
</body>
</html>