<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
    <title></title>
    <link href="../../content/css/base.css" rel="stylesheet" />
    <link href="../../content/css/vant.css" rel="stylesheet" />
    <!-- <link href="../../content/css/pages/center/my.fans.list.css" rel="stylesheet" /> -->
    <link href="/assets//css/my.fans.list.css" rel="stylesheet">
    <link href="/assets/css/vue-component.css" rel="stylesheet">

</head>

<body>
    <div id="app">

        <div class="page-content">
            <div class="header">
                <top-back :title="language.TITLE_TEXT" title-color="rgba(51,51,51,1)">
                    <div slot="right" class="right" @click="isShowTip = true">
                        <img src="/assets/icon/fans-tips.svg" alt="">
                    </div>
                </top-back>
            </div>
            <div v-if="isLoading" class="loading-box p50">
                <van-loading color="black"></van-loading>
                <p class="loading-text" v-text="language.LOADING_TEXT"></p>
            </div>
            <div class="content" v-else v-cloak>
                <div class="search-warp">
                    <div class="icon"><img src="/assets//images/friend/search-green.svg"></div>
                    <input class="search-input" type="text" placeholder="请输入ID或登录名" v-model="searchKey"
                        @keyup.enter="onSearch" maxlength="10">
                    <div class="search-btn" @click="onSearch">搜索</div>
                </div>
                <div class="list-wrap">
                    <div class="head" style="font-size:.9em;">
                        <ul class="clearfix">
                            <li class="first"><span v-text="language.SORT">序號</span></li>
                            <li class="l2"><span v-text="language.ID">ID</span></li>
                            <li class="l3"><span v-text="language.NICKNAME">暱稱</span></li>
                            <li class="l4"><span v-text="language.L_AREA">L(总)</span></li>
                            <li class="l5"><span v-text="language.R_AREA">R(总)</span></li>
                        </ul>
                    </div>
                    <div class="list" style="font-size:.9em;">
                        <div class="section-1">
                            <ul class="clearfix">
                                <li class="first"><span>1.1</span></li>
                                <li v-if='layer.FirstLayer.IsMemberNo' class="l2" style="text-align:left;"
                                    v-text="layer.FirstLayer.MemberNo"></li>
                                <li v-if='!layer.FirstLayer.IsMemberNo' class="l2" style="text-align: left;"
                                    v-text="layer.FirstLayer.Pin"></li>
                                <li class="l3" v-text="layer.FirstLayer.NickName"><span></span></li>
                                <li class="l4" v-text="numberFormat(layer.FirstLayer.LTotal, 1)"><span></span></li>
                                <li class="l5" v-text="numberFormat(layer.FirstLayer.RTotal, 1)"><span></span></li>
                            </ul>
                        </div>
                        <hr class="line" />
                        <div class="section-2">
                            <ul class="clearfix" v-if="layer.SecondLayer[0].Id==0">
                                <li class="first"><span>2.1</span></li>
                                <li class="l2 blue full">
                                    <span class="btn" @click="reportByNew(layer.SecondLayer[0])"
                                        v-text="language.REGISTER_NEW_ACCOUNT">註冊新玩家</span>
                                    <span class="btn" @click="reportBySub(layer.SecondLayer[0])"
                                        v-text="language.REGISTER_SUB_ACCOUNT">新增子帳戶</span>
                                </li>
                            </ul>
                            <ul class="clearfix" v-else>
                                <li class="first"><span>2.1</span></li>
                                <li v-if='layer.SecondLayer[0].IsMemberNo' class="l2 blue" style="text-align:left;">
                                    <span v-text="layer.SecondLayer[0].MemberNo"
                                        @click="loadList(layer.SecondLayer[0])"></span>
                                </li>
                                <li v-if='!layer.SecondLayer[0].IsMemberNo' class="l2 blue" style="text-align:left;">
                                    <span v-text="layer.SecondLayer[0].Pin"
                                        @click="loadList(layer.SecondLayer[0])"></span>
                                </li>
                                <li class="l3"><span v-text="layer.SecondLayer[0].NickName"></span></li>
                                <li class="l4"><span v-text="numberFormat(layer.SecondLayer[0].LTotal, 1)"></span></li>
                                <li class="l5"><span v-text="numberFormat(layer.SecondLayer[0].RTotal, 1)"></span></li>
                            </ul>
                            <ul class="clearfix" v-if="layer.SecondLayer[1].Id==0">
                                <li class="first"><span>2.2</span></li>
                                <li class="l2 blue full">
                                    <span class="btn" @click="reportByNew(layer.SecondLayer[1])"
                                        v-text="language.REGISTER_NEW_ACCOUNT">註冊新玩家</span>
                                    <span class="btn" @click="reportBySub(layer.SecondLayer[1])"
                                        v-text="language.REGISTER_SUB_ACCOUNT">新增子帳戶</span>
                                </li>
                            </ul>
                            <ul class="clearfix" v-else>
                                <li class="first"><span>2.2</span></li>
                                <li v-if='layer.SecondLayer[1].IsMemberNo' class="l2 blue" style="text-align:left;">
                                    <span v-text="layer.SecondLayer[1].MemberNo"
                                        @click="loadList(layer.SecondLayer[1])"></span>
                                </li>
                                <li v-if='!layer.SecondLayer[1].IsMemberNo' class="l2 blue" style="text-align:left;">
                                    <span v-text="layer.SecondLayer[1].Pin"
                                        @click="loadList(layer.SecondLayer[1])"></span>
                                </li>
                                <li class="l3"><span v-text="layer.SecondLayer[1].NickName"></span></li>
                                <li class="l4"><span v-text="numberFormat(layer.SecondLayer[1].LTotal, 1)"></span></li>
                                <li class="l5"><span v-text="numberFormat(layer.SecondLayer[1].RTotal, 1)"></span></li>
                            </ul>
                        </div>
                        <hr class="line" />
                        <div class="section-3" v-if="isEmptyParent">
                            <hr class="line" />
                            <ul class="clearfix"
                                v-if="layer.ThirdLayer[0].Id==0&&layer.ThirdLayer[0].FlowNumber==language.CONT_REGISTER">
                                <li class="first"><span>3.1</span></li>
                                <li class="l2"><span>-</span></li>
                                <li class="l3"><span>-</span></li>
                                <li class="l4"><span>-</span></li>
                                <li class="l5"><span>-</span></li>
                            </ul>
                            <ul class="clearfix" v-else-if="layer.ThirdLayer[0].Id==0">
                                <li class="first"><span>3.1</span></li>
                                <li class="l2 blue full">
                                    <span class="btn" @click="reportByNew(layer.ThirdLayer[0])"
                                        v-text="language.REGISTER_NEW_ACCOUNT">註冊新玩家</span>
                                    <span class="btn" @click="reportBySub(layer.ThirdLayer[0])"
                                        v-text="language.REGISTER_SUB_ACCOUNT">新增子帳戶</span>
                                </li>
                            </ul>
                            <ul class="clearfix" v-else>
                                <li class="first"><span>3.1</span></li>
                                <li v-if='layer.ThirdLayer[0].IsMemberNo' class="l2 blue" style="text-align:left;"><span
                                        v-text="layer.ThirdLayer[0].MemberNo"
                                        @click="loadList(layer.ThirdLayer[0])"></span>
                                </li>
                                <li v-if='!layer.ThirdLayer[0].IsMemberNo' class="l2 blue" style="text-align:left;">
                                    <span v-text="layer.ThirdLayer[0].Pin"
                                        @click="loadList(layer.ThirdLayer[0])"></span>
                                </li>
                                <li class="l3"><span v-text="layer.ThirdLayer[0].NickName"></span></li>
                                <li class="l4"><span v-text="numberFormat(layer.ThirdLayer[0].LTotal, 1)"></span></li>
                                <li class="l5"><span v-text="numberFormat(layer.ThirdLayer[0].RTotal, 1)"></span></li>
                            </ul>
                            <ul class="clearfix"
                                v-if="layer.ThirdLayer[1].Id==0&&layer.ThirdLayer[1].FlowNumber==language.CONT_REGISTER">
                                <li class="first"><span>3.2</span></li>
                                <li class="l2"><span>-</span></li>
                                <li class="l3"><span>-</span></li>
                                <li class="l4"><span>-</span></li>
                                <li class="l5"><span>-</span></li>
                            </ul>
                            <ul class="clearfix" v-else-if="layer.ThirdLayer[1].Id==0">
                                <li class="first"><span>3.2</span></li>
                                <li class="l2 blue full">
                                    <span class="btn" @click="reportByNew(layer.ThirdLayer[1])"
                                        v-text="language.REGISTER_NEW_ACCOUNT">註冊新玩家</span>
                                    <span class="btn" @click="reportBySub(layer.ThirdLayer[1])"
                                        v-text="language.REGISTER_SUB_ACCOUNT">新增子帳戶</span>
                                </li>
                            </ul>
                            <ul class="clearfix" v-else>
                                <li class="first"><span>3.2</span></li>
                                <li v-if='layer.ThirdLayer[1].IsMemberNo' class="l2 blue" style="text-align:left;"><span
                                        v-text="layer.ThirdLayer[1].MemberNo"
                                        @click="loadList(layer.ThirdLayer[1])"></span>
                                </li>
                                <li v-if='!layer.ThirdLayer[1].IsMemberNo' class="l2 blue" style="text-align:left;">
                                    <span v-text="layer.ThirdLayer[1].Pin"
                                        @click="loadList(layer.ThirdLayer[1])"></span>
                                </li>
                                <li class="l3"><span v-text="layer.ThirdLayer[1].NickName"></span></li>
                                <li class="l4"><span v-text="numberFormat(layer.ThirdLayer[1].LTotal, 1)"></span></li>
                                <li class="l5"><span v-text="numberFormat(layer.ThirdLayer[1].RTotal, 1)"></span></li>
                            </ul>
                            <ul class="clearfix"
                                v-if="layer.ThirdLayer[2].Id==0&&layer.ThirdLayer[2].FlowNumber==language.CONT_REGISTER">
                                <li class="first"><span>3.3</span></li>
                                <li class="l2"><span>-</span></li>
                                <li class="l3"><span>-</span></li>
                                <li class="l4"><span>-</span></li>
                                <li class="l5"><span>-</span></li>
                            </ul>
                            <ul class="clearfix" v-else-if="layer.ThirdLayer[2].Id==0">
                                <li class="first"><span>3.3</span></li>
                                <li class="l2 blue full">
                                    <span class="btn" @click="reportByNew(layer.ThirdLayer[2])"
                                        v-text="language.REGISTER_NEW_ACCOUNT">註冊新玩家</span>
                                    <span class="btn" @click="reportBySub(layer.ThirdLayer[2])"
                                        v-text="language.REGISTER_SUB_ACCOUNT">新增子帳戶</span>
                                </li>
                            </ul>
                            <ul class="clearfix" v-else>
                                <li class="first"><span>3.3</span></li>
                                <li v-if='layer.ThirdLayer[2].IsMemberNo' class="l2 blue" style="text-align:left;"><span
                                        v-text="layer.ThirdLayer[2].MemberNo"
                                        @click="loadList(layer.ThirdLayer[2])"></span>
                                </li>
                                <li v-if='!layer.ThirdLayer[2].IsMemberNo' class="l2 blue" style="text-align:left;">
                                    <span v-text="layer.ThirdLayer[2].Pin"
                                        @click="loadList(layer.ThirdLayer[2])"></span>
                                </li>
                                <li class="l3"><span v-text="layer.ThirdLayer[2].NickName"></span></li>
                                <li class="l4"><span v-text="numberFormat(layer.ThirdLayer[2].LTotal, 1)"></span></li>
                                <li class="l5"><span v-text="numberFormat(layer.ThirdLayer[2].RTotal, 1)"></span></li>
                            </ul>
                            <ul class="clearfix"
                                v-if="layer.ThirdLayer[3].Id==0&&layer.ThirdLayer[3].FlowNumber==language.CONT_REGISTER">
                                <li class="first"><span>3.4</span></li>
                                <li class="l2"><span>-</span></li>
                                <li class="l3"><span>-</span></li>
                                <li class="l4"><span>-</span></li>
                                <li class="l5"><span>-</span></li>
                            </ul>
                            <ul class="clearfix" v-else-if="layer.ThirdLayer[3].Id==0">
                                <li class="first"><span>3.4</span></li>
                                <li class="l2 blue full">
                                    <span class="btn" @click="reportByNew(layer.ThirdLayer[3])"
                                        v-text="language.REGISTER_NEW_ACCOUNT">註冊新玩家</span>
                                    <span class="btn" @click="reportBySub(layer.ThirdLayer[3])"
                                        v-text="language.REGISTER_SUB_ACCOUNT">新增子帳戶</span>
                                </li>
                            </ul>
                            <ul class="clearfix" v-else>
                                <li class="first"><span>3.4</span></li>
                                <li v-if='layer.ThirdLayer[3].IsMemberNo' class="l2 blue" style="text-align:left;"><span
                                        v-text="layer.ThirdLayer[3].MemberNo"
                                        @click="loadList(layer.ThirdLayer[3])"></span>
                                </li>
                                <li v-if='!layer.ThirdLayer[3].IsMemberNo' class="l2 blue" style="text-align:left;">
                                    <span v-text="layer.ThirdLayer[3].Pin"
                                        @click="loadList(layer.ThirdLayer[3])"></span>
                                </li>
                                <li class="l3"><span v-text="layer.ThirdLayer[3].NickName"></span></li>
                                <li class="l4"><span v-text="numberFormat(layer.ThirdLayer[3].LTotal, 1)"></span></li>
                                <li class="l5"><span v-text="numberFormat(layer.ThirdLayer[3].RTotal, 1)"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btns">
                <div class="top" v-if="historyList.length!=0">
                    <div class="btn" @click="gotoBack">
                        向上翻页
                    </div>
                    <div class="btn" @click="gotoUpLayer">
                        上一层
                    </div>
                </div>
                <div class="btm" v-if="!isFocus">
                    <custom-button :text="'[' + currentMemberNo + '] ' + language.MY_LEFT_UNDEREST" @click="myLeftDown"
                        :height="56" />
                </div>
            </div>
        </div>
        <van-popup v-model="isShowTip" v-bind:close-on-click-overlay="false" class="tips_popup">
            <div class="tips-content">
                <div class="title" v-text="language.FANS_LIST_MAPPING_SHARP">粉丝列表对应图</div>
                <div class="content">
                    <img src="/assets//images/fans/tree.svg" alt="">
                    <div class="msg" v-text="language.FANS_SHARP_MESSAGE">頁面列表顯示的關係如上圖所示，請注意選擇位置。</div>
                </div>
                <div class="no-tips" @click="showAgainCheckValue=!showAgainCheckValue">
                    <span class="text" v-text="language.DONT_SHOW"></span>
                    <checkbox :checked="showAgainCheckValue" />
                </div>
                <div class="confirm">
                    <custom-button text="確認" @click="isShowTip=false" :height="56" />
                </div>
            </div>
        </van-popup>
    </div>
    <script src="../../content/js/vue.js?v=28"></script>
    <script src="../../content/js/vant.min.js?v=28"></script>
    <script src="../../content/js/base.js?v=28"></script>
    <script src="../../content/js/pages/center/my.fans.list.js?v=28"></script>
    <script src="/content/js/vue-component.js?v=28"></script>
</body>

</html>