<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
    <title></title>
    <link href="../../content/css/base.css" rel="stylesheet" />
    <link href="../../content/css/vant.css" rel="stylesheet" />
    <link href="../../content/css/pages/center/new.subaccount.css" rel="stylesheet" />
	<style>
	.van-dialog__message--has-title{text-align: left;}	
	</style>
</head>
<body>
    <div id="app">
        <div id="app-head" class="fixed" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
            <i id="app-back-button" class="iconfont iconzuo right-back"></i>
            <div class="app-head-text" v-text="language.TITLE_TEXT">新增子賬戶</div>
        </div>
        <div id="app-content" v-bind:style="{'paddingTop': (45 + statusbarHeight) + 'px'}">
            <div v-if="isLoading || isFirstLoading" class="loading-box p50">
                <van-loading color="black"></van-loading>
                <p class="loading-text" v-text="language.LOADING_TEXT"></p>
            </div>
            <div v-else v-cloak>
                <div class="input_group">
                    <div class="warn_container" v-show="isFirstReport">
                        <p class="warn_title">
                            <i class="iconfont iconjinggao"></i>
                            <span v-text="language.FIRST_REPORT_TITLE">首次報單</span>
                        </p>
                        <p class="warn_text" v-text="language.FIRST_REPORT_TEXT">直接推薦的首單必須放在左區最下面的位置</p>
                    </div>
                    <div class="input_line van-hairline--bottom">
                        <span class="input_text" v-text="language.INPUT_TEXT_1">子賬戶星級</span>
                        <div class="input_control r-1"
                             v-bind:class="{'gray': !form.investmentAmount}"
                             @click="isShowMoney = true"
                             v-html="display.levelText"></div>
                        <i class="iconfont iconjiantou arrow"></i>
                    </div>
                    <div class="input_line van-hairline--bottom">
                        <span class="input_text" v-text="language.INPUT_TEXT_2">接點人ID</span>
                        <input type="tel"
                               v-bind:readonly="isFirstReport"
                               class="input_control"
                               v-model="nodaPersonDisplay"
                               @blur="!isFirstReport && searchPlayer()"
                               v-bind:placeholder="language.INPUT_PLACEHOLDER_2"
                               maxlength="11" />
                    </div>
                    <div class="input_line van-hairline--bottom">
                        <span class="input_text" v-text="language.INPUT_TEXT_3">接點人昵稱</span>
                        <div class="input_control">
                            <van-loading v-if="isPlayerLoading" color="black" class="search_player"></van-loading>
                            <span v-else v-bind:class="{'red': isNotFound}" v-text="playerNickname"></span>
                        </div>
                    </div>
                    <div class="input_line van-hairline--bottom">
                        <span class="input_text" v-text="language.INPUT_TEXT_4">位置選擇</span>
                        <div class="input_control">
                            <div class="pos">
                                <div class="block" v-bind:class="{'checked': form.position === 1}" @click="form.position = 1">
                                    <i v-show="form.position === 1" class="iconfont iconiconselected"></i>
                                    <span v-text="language.POS_LEFT">左區</span>
                                </div>
                                <div class="block" v-bind:class="{'checked': form.position === 2}" @click="form.position = 2">
                                    <i v-show="form.position === 2" class="iconfont iconiconselected"></i>
                                    <span v-text="language.POS_RIGHT">右區</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input_group">
                    <div class="input_line">
                        <span class="input_text" v-text="language.INPUT_TEXT_5">交易密碼</span>
                        <input type="password"
                               class="input_control"
                               v-model="form.mPassword"
                               v-bind:placeholder="language.INPUT_PLACEHOLDER_5"
                               maxlength="16" />
                    </div>
                </div>
                <button class="confirm_button" @click="checkData" v-text="language.BUTTON_1">提交信息</button>
                <van-popup v-model="isShowMoney" position="bottom">
                    <van-picker v-bind:columns="levelList"
                                show-toolbar="true"
                                v-bind:title="language.LEVEL_PICKER_TITLE"
                                v-bind:confirm-button-text="language.CONFIRM_BUTTON_1"
                                v-bind:cancel-button-text="language.CONFIRM_BUTTON_2"
                                @confirm="confirmMoney"
                                @cancel="isShowMoney = false"></van-picker>
                </van-popup>
            </div>
        </div>
    </div>
    <script src="../../content/js/vue.js?v=28"></script>
    <script src="../../content/js/vant.min.js?v=28"></script>
    <script src="../../content/js/base.js?v=28"></script>
    <script src="../../content/js/pages/center/new.subaccount.js?v=28"></script>
</body>
</html>