<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
    <title></title>
    <link href="../../content/css/base.css" rel="stylesheet" />
    <link href="../../content/css/vant.css" rel="stylesheet" />
    <!-- <link href="../../content/css/pages/center/new.report.css?v=23" rel="stylesheet" /> -->
    <link href="/assets/css/new.report.css" rel="stylesheet">
    <link href="/assets/css/vue-component.css" rel="stylesheet">
    <style>
        .van-dialog__message--has-title {
            text-align: left;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="page-content">
            <div class="header">
                <top-back :title="language.TITLE_TEXT" title-color="rgba(51,51,51,1)"></top-back>
            </div>
            <div class="content">
                <div class="user-info">
                    <div class="user-info-item">
                        <div class="item-left">登录名</div>
                        <div class="item-right">
                            <input type="tel" v-model="form.memberNo" @blur="checkmemberNo()"
                                v-bind:placeholder="language.INPUT_PLACEHOLDER_1" maxlength="15">
                        </div>
                    </div>
                    <div class="user-info-item">
                        <div class="item-left">玩家昵称</div>
                        <div class="item-right">
                            <input type="tel" v-model="form.nickName" v-bind:placeholder="language.INPUT_PLACEHOLDER_2"
                                maxlength="15">
                        </div>
                    </div>
                    <div class="user-info-item" @click="isShowMoney = true">
                        <div class="item-left">玩家星级</div>
                        <div class="item-right">
                            <div class="level"
                                v-html="!form.investmentAmount ? language.INPUT_PLACEHOLDER_3 : display.levelText">
                            </div>
                            <i class="iconfont iconjiantou arrow"></i>
                        </div>
                    </div>
                </div>
                <div class="section-label">设置新玩家登录密码</div>
                <div class="tips">
                    <div class="icon"><img src="/assets/icon/new-account-tips.svg"></div>
                    <div class="tips-text">
                        <div>登录密码最少6位</div>
                        <div>必须包含大写字母、小写字母和数字</div>
                        <div class="red">新玩家初始交易密码为：123456</div>
                    </div>
                </div>
                <div class="user-info">
                    <div class="user-info-item">
                        <div class="item-left">登录密码</div>
                        <div class="item-right">
                            <input type="tel" v-model="form.password1" v-bind:placeholder="language.INPUT_PLACEHOLDER_4"
                                maxlength="16">
                        </div>
                    </div>
                </div>
                <div class="tips">
                    <div class="icon"><img src="/assets/icon/new-account-tips.svg"></div>
                    <div class="tips-text">
                        <div>首次报单</div>
                        <div>直接推荐的首单必须放在左边最下面的位置</div>
                    </div>
                </div>
                <div class="user-info">
                    <div class="user-info-item">
                        <div class="item-left">接点人ID</div>
                        <div class="item-right">
                            <input type="tel" v-bind:readonly="isFirstReport"
                                @blur="!isFirstReport && doSearchFlowNumber()" v-model="searchFlowNumber"
                                v-bind:placeholder="language.INPUT_PLACEHOLDER_9" maxlength="11">
                        </div>
                    </div>
                    <div class="user-info-item">
                        <div class="item-left">接點人昵稱</div>
                        <div class="item-right">
                            <van-loading v-if="isPlayerLoading" color="black" class="small_loading"></van-loading>
                            <div v-else v-bind:class="{'red': isNotFound}" v-text="display.nodalPersonText"></div>
                        </div>
                    </div>
                    <div class="user-info-item">
                        <div class="item-left">左边</div>
                        <div class="item-right" @click="form.position = 1">
                            <checkbox :checked="form.position == 1 ? true : false" />
                        </div>
                    </div>
                    <div class="user-info-item">
                        <div class="item-left">右边</div>
                        <div class="item-right" @click="form.position = 2">
                            <checkbox :checked="form.position == 2 ? true : false" />
                        </div>
                    </div>
                </div>
                <div class="section-label">交易密码</div>
                <div class="pwd-box">
                    <input type="password" class="password" v-model="form.mPassword" maxlength="16"
                        placeholder="请输入您的交易密码">
                </div>
            </div>
            <div class="submit">
                <custom-button text="确认提交" @click="checkData" :height="56" />
            </div>
        </div>
        <van-popup class="levels" v-model="isShowMoney" position="bottom">
            <van-picker v-bind:columns="levelList" show-toolbar="true" v-bind:title="language.LEVEL_PICKER_TITLE"
                v-bind:confirm-button-text="language.CONFIRM_BUTTON_1"
                v-bind:cancel-button-text="language.CONFIRM_BUTTON_2" @confirm="confirmMoney"
                @cancel="isShowMoney = false"></van-picker>
        </van-popup>
        <van-popup class="confirm_report" v-model="isConfirmPopup" position="bottom">
            <p class="title" v-text="language.CONFIRM_POPUP_TITLE">報單確認</p>
            <ul class="report_list">
                <li>
                    <span class="text" v-text="language.INPUT_TEXT_1">登錄名</span>
                    <span class="value" v-text="form.memberNo"></span>
                </li>
                <li>
                    <span class="text" v-text="language.INPUT_TEXT_2">玩家昵稱</span>
                    <span class="value" v-html="form.nickName"></span>
                </li>
                <li>
                    <span class="text" v-text="language.INPUT_TEXT_3">玩家星級</span>
                    <span class="value" v-html="display.levelText"></span>
                </li>
                <li>
                    <span class="text" v-text="language.INPUT_TEXT_10">接點人</span>
                    <span class="value" v-text="display.nodalPersonText"></span>
                </li>
                <li>
                    <span class="text" v-text="language.INPUT_TEXT_11">接點位置</span>
                    <span class="value" v-text="form.position === 1 ? language.POS_LEFT : language.POS_RIGHT"></span>
                </li>
            </ul>
            <div class="submit">
                <custom-button text="确认提交" @click="doSubmitAjax" :height="56" />
            </div>
        </van-popup>
    </div>
    </div>
    <van-popup class="notice_frame" v-model="isNoticeShow" v-cloak v-bind:close-on-click-overlay="false">
        <iframe src="../subpages/notice.html"></iframe>
    </van-popup>
    </div>
    <script src="../../content/js/vue.js?v=28"></script>
    <script src="../../content/js/vant.min.js?v=28"></script>
    <script src="../../content/js/base.js?v=28"></script>
    <script src="../../content/js/country.js?v=28"></script>
    <script src="../../content/js/pages/center/new.report.js?v=28"></script>
    <script src="/content/js/vue-component.js?v=28"></script>
</body>

</html>