<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
    <title></title>
    <link href="../../content/css/base.css" rel="stylesheet" />
    <link href="../../content/css/vant.css" rel="stylesheet" />
    <link href="../../content/css/pages/center/profile.css" rel="stylesheet" />
    
</head>
<body>
    <div id="app">
        <div id="app-head" class="fixed van-hairline--bottom" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
            <i id="app-back-button" class="iconfont iconzuo right-back"></i>
            <div class="app-head-text" v-text="language.TITLE_TEXT">個人資料</div>
        </div>
        <div id="app-content" v-bind:style="{'paddingTop': (45 + statusbarHeight) + 'px'}">
            <van-cell-group class="avatar_cell mt-10">
                <!--<van-cell is-link @click="isShowActions = true">
                    <template slot="title">
                        <img src="../../content/img/default_avatar.jpg" class="avatar" />
                    </template>
                </van-cell>!-->
				
				<van-cell is-link @click="APP.GLOBAL.gotoNewWindow('securityPage', 'child/change.AvatarImage')">
                    <template slot="title">
						<img src="../../content/img/default_avatar.jpg" class="avatar" />
                    </template>
                </van-cell>

				
            </van-cell-group>
            <van-cell-group class="mt-10">
                <van-cell v-bind:title="language.CELL_TITLE_1" v-bind:value="currentUser.NickName" is-link @click="APP.GLOBAL.gotoNewWindow('change.nicknamePage', 'child/change.nickname')"></van-cell>
                <van-cell v-bind:title="language.CELL_TITLE_5">
                    <template slot="right-icon">
                        <p class="glory_name" v-html="getGlory"></p>
                    </template>
                </van-cell>
                <van-cell v-bind:title="language.CELL_TITLE_2" v-bind:value="currentUser.MemberNo" is-link @click="APP.GLOBAL.gotoNewWindow('change.usernamePage', 'child/change.username')"></van-cell>
                <!--<van-cell v-bind:title="language.CELL_TITLE_3" v-bind:value="getCountryName(currentUser.NationalityCode)"></van-cell>
                <van-cell v-bind:title="language.CELL_TITLE_4" v-bind:value="getIDTypeName(currentUser.IDType)"></van-cell> -->
            </van-cell-group>
            <van-cell-group class="mt-10">
                <van-cell v-bind:title="language.CELL_TITLE_6" is-link @click="APP.GLOBAL.gotoNewWindow('securityPage', 'security')"></van-cell>
				<van-cell v-bind:title="language.CELL_TITLE_8" is-link @click="APP.GLOBAL.gotoNewWindow('securityPage', 'security/reset.mnemonic')"></van-cell>
            </van-cell-group>
			
			<van-cell-group class="mt-10" v-if="currentUser.LevelNumber > 4">
                <van-cell  is-link @click="APP.GLOBAL.gotoNewWindow('analyze', 'analyze')" >Analyze</van-cell>
            </van-cell-group>
			
			
            <van-actionsheet v-bind:class="{'safe-area': APP.CONFIG.IsSafeArea()}"
                             v-model="isShowActions"
                             v-bind:actions="actions"
                             v-bind:cancel-text="language.BUTTON_CANCEL" />
        </div>
    </div>
    <script src="../../content/js/vue.js?v=28"></script>
    <script src="../../content/js/vant.min.js?v=28"></script>
    <script src="../../content/js/base.js?v=28"></script>
    <script src="../../content/js/country.js?v=28"></script>
    <script src="../../content/js/pages/center/profile.js?v=28"></script>
</body>
</html>