<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
  <title></title>
  <link href="/content/css/base.css" rel="stylesheet" />
  <link href="/content/css/vant.css" rel="stylesheet" />
  <link href="/assets/css/vue-component.css" rel="stylesheet" />
  <link href="/assets/css/rp.to.sp.css" rel="stylesheet" />

</head>
<body>
  <!-- <div id="app">
      <div id="app-head" class="fixed" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
          <i id="app-back-button" class="iconfont iconzuo right-back"></i>
          <div class="app-head-text" v-text="language.TITLE_TEXT">RP轉SP</div>
      </div>
      <div id="app-content" v-bind:style="{'paddingTop': (45 + statusbarHeight) + 'px'}">
          <div class="sell_info">
              <ul>
                  <li>
                      <p class="value" v-text="numberFormat(currentUser.RP, 2)"></p>
                      <p class="text" v-text="language.LI_TEXT_1">RP數量</p>
                  </li>

                  <li>
                      <p class="value">1:1</p>
                      <p class="text" v-text="language.LI_TEXT_2">轉換比例</p>
                  </li>
        <li>
                      <p class="value" v-text="numberFormat(currentUser.Convertbalance, 2)">1:1</p>
                      <p class="text">Available</p>
                  </li>
              </ul>
          </div>
          <div class="input_group">
              <div class="input_line van-hairline--bottom">
                  <span class="input_text" v-text="language.INPUT_TEXT_1">RP數量</span>
                  <input type="number"
                          class="input_control"
                          v-model="form.amount"
                          v-bind:placeholder="language.INPUT_PLACEHOLDER_1" />
              </div>
              <div class="input_line">
                  <span class="input_text" v-text="language.INPUT_TEXT_2">交易密碼</span>
                  <input type="password"
                          class="input_control"
                          v-model="form.password"
                          maxlength="16"
                          v-bind:placeholder="language.INPUT_PLACEHOLDER_2" />
              </div>
          </div>
          <button class="confirm_button" v-text="language.BUTTON_TEXT_1" @click="checkData">確認轉換</button>
      </div>
  </div> -->

  <div id="app">
    <div class="RpToSp">
      <top-back title="RP转SP"></top-back>
      <div class="content-container">
        <hold-assets label="RP" value="0.00"></hold-assets>
        <div class="content1">
          <div class="item">
            <div class="label">转换比例</div>
            <div class="value">1:1</div>
          </div>
          <div class="item">
            <div class="label">剩余可转换数量</div>
            <input class="input" placeholder="請輸入您的交易密碼" />
          </div>
          <div class="item">
            <div class="label">RP数量</div>
            <input class="input" placeholder="請輸入要轉換的數量" />
          </div>
          <div class="item">
            <div class="label">交易密碼</div>
            <input class="input" placeholder="請輸入您的交易密碼" />
          </div>
        </div>
      </div>
      <custom-button text="确认转换"></custom-button>
    </div>
  </div>
  <script src="/content/js/vue.js?v=28"></script>
  <script src="/content/js/vant.min.js?v=28"></script>
  <script src="/content/js/base.js?v=28"></script>
  <script src="/content/js/vue-component.js?v=28"></script>
  <script src="/content/js/pages/center/rp.to.sp.js?v=28"></script>
</body>
</html>