<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
  <title></title>
  <link href="/content/css/base.css" rel="stylesheet" />
  <link href="/content/css/vant.css" rel="stylesheet" />
  <link href="/assets/css/vue-component.css" rel="stylesheet" />
  <link href="/assets/css/rptp.out.css" rel="stylesheet" />

</head>
<body>
  <!-- <div id="app">
      <div id="app-head" class="fixed" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
          <i id="app-back-button" class="iconfont iconzuo right-back"></i>
          <div class="app-head-text" v-text="language.TITLE_TEXT">RP轉出</div>
      </div>
      <div id="app-content" v-bind:style="{'paddingTop': (45 + statusbarHeight) + 'px'}">
          <div v-if="isLoading" class="loading-box p50">
              <van-loading color="black"></van-loading>
              <p class="loading-text" v-text="language.LOADING_TEXT"></p>
          </div>
          <div v-else v-cloak>
              <div class="sell_info">
                  <ul>

          <li>
              <p class="text" v-text="language.LI_TEXT_2">TP</p>
              <p class="value" v-text="numberFormat(currentUser.TP, 2)"></p>
          </li>
          <li>
              <p class="text" v-text="language.LI_TEXT_1">RP</p>
              <p class="value" v-text="numberFormat(currentUser.RP, 2)"></p>
          </li>


                  </ul>
              </div>
              <div class="input_group border">
                  <div class="input_line van-hairline--bottom">
                      <span class="input_text" v-text="language.INPUT_TEXT_1">玩家ID</span>
                      <input type="text" class="input_control" @blur="searchPlayer" v-model="receiveDisplay" v-bind:placeholder="language.INPUT_PLACEHOLDER_1" />
                  </div>
                  <div class="input_line">
                      <span class="input_text" v-text="language.INPUT_TEXT_2">玩家昵稱</span>
                      <div class="input_control">
                          <span v-if="!isPlayerLoading" v-text="language.INPUT_PLACEHOLDER_2"></span>
                          <div v-else>
                              <span v-if="isNotFound" class="red" v-text="language.NOT_FOUND_PLAYER"></span>
                              <span v-else v-text="playerNickname"></span>
                          </div>
                      </div>
                  </div>

        <div class="input_line van-hairline--bottom">
            <span class="input_text" v-text="language.INPUT_TEXT_3_TP">轉出數量</span>
            <input type="number"
                    class="input_control"
                    v-model="form.amount2"
                    v-bind:placeholder="language.INPUT_PLACEHOLDER_3_TP" />
        </div>
        <div class="input_line van-hairline--bottom">
            <span class="input_text" v-text="language.INPUT_TEXT_3_RP">轉出數量</span>
            <input type="number"
                    class="input_control"
                    v-model="form.amount1"
                    v-bind:placeholder="language.INPUT_PLACEHOLDER_3_RP" />
        </div>
                  <div class="input_line van-hairline--bottom">
                      <span class="input_text" v-text="language.INPUT_TEXT_4">交易密碼</span>
                      <input type="password"
                              class="input_control"
                              v-model="form.password"
                              maxlength="16"
                              v-bind:placeholder="language.INPUT_PLACEHOLDER_4" />
                  </div>
                  <div class="input_line van-hairline--bottom">
                      <span class="input_text" v-text="language.INPUT_TEXT_5">Google验证码</span>
                      <input type="password"
                              class="input_control"
                              v-model="form.gCode"
                              maxlength="6"
                              v-bind:placeholder="language.INPUT_PLACEHOLDER_7" />
                  </div>
              </div>
              <div class="input_group border">
                  <div class="input_line full">
                      <textarea class="textarea_control" v-model="form.des" v-bind:placeholder="language.INPUT_PLACEHOLDER_5"></textarea>
                  </div>
              </div>
              <button class="confirm_button" @click="checkData" v-text="language.BUTTON_TEXT_1">確認轉換</button>
          </div>
      </div>
  </div> -->

  <div id="app">
    <div class="RpTpOut">
      <top-back title="TP+RP转出"></top-back>
      <div class="content-container">
        <hold-assets label="TP" value="0.00"></hold-assets>
        <hold-assets label="RP" value="0.00"></hold-assets>
        <div class="content1">
          <div class="item">
            <div class="label">接收賬戶</div>
            <input class="input" placeholder="請輸入接收玩家账户" />
          </div>
          <div class="item">
            <div class="label">玩家昵稱</div>
            <input class="input" placeholder="請輸入玩家昵稱" />
          </div>
          <div class="item">
            <div class="label">轉出數量</div>
            <input class="input" placeholder="請輸入要轉出的數量" />
          </div>
          <div class="item">
            <div class="label">交易密碼</div>
            <input class="input" placeholder="請輸入您的交易密碼" />
          </div>
        </div>
        <div class="content2">
          <google-v-code></google-v-code>
          <textarea class="textarea" placeholder="备注信息，可不填写（500字内）"></textarea>
        </div>
      </div>
      <custom-button text="确认转出"></custom-button>
    </div>
  </div>
  <script src="/content/js/vue.js?v=28"></script>
  <script src="/content/js/vant.min.js?v=28"></script>
  <script src="/content/js/base.js?v=28"></script>
  <script src="/content/js/vue-component.js?v=28"></script>
  <script src="/content/js/pages/center/rptp.out.js?v=28"></script>
</body>
</html>