<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
    <title></title>
    <link href="/content/css/base.css" rel="stylesheet" />
    <link href="/content/css/vant.css" rel="stylesheet" />
    <link href="/assets/css/vue-component.css" rel="stylesheet" />
    <link href="/assets/css/sell.ace.css" rel="stylesheet" />
</head>

<body>
  <!-- <div id="app">
      <div id="app-head" class="fixed" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
          <i id="app-back-button" class="iconfont iconzuo right-back"></i>
          <div class="app-head-text" v-text="language.TITLE_TEXT">AK</div>
      </div>
      <div id="app-content" v-bind:style="{'paddingTop': (45 + statusbarHeight) + 'px'}">
          <div v-if="isLoading" class="loading-box p50">
              <van-loading color="black"></van-loading>
              <p class="loading-text" v-text="language.LOADING_TEXT"></p>
          </div>
          <div v-else v-cloak>
              <div class="sell_info">
                  <ul>
                      <li>
                          <p class="value" v-text="numberFormat(display.currentACECount,0)"></p>
                          <p class="text" v-text="language.DETAIL_ITEM_1">AK</p>
                      </li>
                      <li>
                          <p class="value" v-text="currentUser.CurrentStockPrice"></p>
                          <p class="text" v-text="language.DETAIL_ITEM_2">AK</p>
                      </li>
                      <li>
                          <p class="value" v-text="display.dollarDisplay"></p>
                          <p class="text" v-text="language.DETAIL_ITEM_3">AK</p>
                      </li>
                  </ul>
              </div>
              <div class="input_group">
                  <div class="input_line van-hairline--bottom">
                      <span class="input_text" v-text="language.INPUT_TEXT_1">AK</span>
                      <div class="input_control r-1" @click="gotoChoiceSubaccount" v-text="form.sonId ? display.accountDisplay : language.ACCOUNT_TYPE"></div>
                      <i class="iconfont iconjiantou arrow"></i>
                  </div>
                  <div class="input_line">
                      <span class="input_text" v-text="language.INPUT_TEXT_2">AK</span>
                      <input type="tel" class="input_control" v-model="form.count" v-bind:placeholder="language.INPUT_PLACEHOLDER_2" maxlength="6" />
                  </div>
              </div>
              <div class="input_group border">
                  <div class="input_line full">
                      <p class="text_line" v-text="language.INPUT_TEXT_7"></p>
                      <input type="text" class="full_control" v-model="form.mnemonicstr1" v-bind:placeholder="display.mnemonicid1" maxlength="30" />
                  </div>
              </div>
              <div class="input_group">
                  <div class="input_line">
                      <span class="input_text" v-text="language.INPUT_TEXT_6">谷歌驗證碼</span>
                      <input style="flex: 1;width: 0;" type="tel" class="input_control" v-model="form.gCode" v-bind:placeholder="language.INPUT_PLACEHOLDER_6" maxlength="6" />

                      <button style="padding: 0 20px !important; background: #1181cf; color: #fff;" @click="clipFunc">Paste</button>
                  </div>
              </div>
              <button class="confirm_button" v-text="language.BUTTON_1" @click="checkData">確認出售</button>
          </div>
      </div>
  </div> -->

  <div id="app">
    <div class="SellAce">
      <top-back title="出售AK"></top-back>
      <div class="bottom">
        <div class="content1">
          <div class="item">
            <div class="value">0.00</div>
            <div class="label">AK数量</div>
          </div>
          <div class="item">
            <div class="value">0.252</div>
            <div class="label">實時價格</div>
          </div>
          <div class="item">
            <div class="value">0.00</div>
            <div class="label">約價值</div>
          </div>
        </div>
        <div class="content2">
          <div class="item">
            <div class="label">選擇賬戶</div>
            <div class="value">當前賬戶</div>
          </div>
          <div class="item">
            <div class="label">出售數量</div>
            <input type="text" class="input" />
          </div>
        </div>
        <div class="content3">
          <div class="title">请根据数字填写助记词</div>
          <input type="text" class="input" />
          <div class="content3-bottom">
            <div class="content3-bottom-text">谷歌驗證碼</div>
            <div class="content3-bottom-input" />
            <div class="content3-bottom-icon"></div>
          </div>
        </div>
      </div>
      <custom-button text="确认出售" :height="53"></custom-button>
    </div>
  </div>
  <script src="/content/js/vue.js?v=28"></script>
  <script src="/content/js/vant.min.js?v=28"></script>
  <script src="/content/js/base.js?v=28"></script>
  <script src="/content/js/vue-component.js?v=28"></script>
  <script src="/content/js/pages/center/sell.ace.js?v=28"></script>
</body>

</html>