<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
    <title></title>
    <link href="../../content/css/base.css" rel="stylesheet" />
    <link href="../../content/css/vant.css" rel="stylesheet" />
    <link href="../../content/css/pages/center/split.record.css" rel="stylesheet" />
    
</head>
<body>
    <div id="app">
        <div id="app-head" class="fixed van-hairline--bottom" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
            <i id="app-back-button" class="iconfont iconzuo right-back"></i>
            <div class="app-head-text" v-text="language.TITLE_TEXT">買賣中心</div>
        </div>
        <div id="app-content" v-bind:style="{'paddingTop': (45 + statusbarHeight) + 'px'}">
            <div v-if="isLoading" class="loading-box">
                <van-loading color="black"></van-loading>
                <p class="loading-text" v-text="language.LOADING_TEXT">正在載入...</p>
            </div>
            <div v-else v-cloak>
                <div v-if="pageModel.list.length == 0" class="none-data">
                    <i class="iconfont icon-wushuju"></i>
                    <p class="none-data-text" v-text="language.NONE_DATA">暫無任何拆分</p>
                </div>
                <div v-else class="list_content">
                    <ul>
                        <li v-for="(item,index) in pageModel.list" 
                            v-bind:key="index">
                            <p class="time" v-text="item.CreateTime"></p>
                            <div class="info_content">
                                <div class="line first clearfix">
                                    <div class="bl">
                                        <p class="number" v-text="item.BeforeAce"></p>
                                        <p class="text" v-text="language.BEFORE_SPLIT">拆分前AK</p>
                                    </div>
                                    <div class="bl middle">
                                        <i class="iconfont iconchaifen"></i>
                                    </div>
                                    <div class="bl after">
                                        <p class="number" v-text="item.AfterAce"></p>
                                        <p class="text" v-text="language.AFTER_SPLIT">拆分后AK</p>
                                    </div>
                                </div>
                                <div class="line last clearfix">
                                    <div class="bl">
                                        <p class="number" v-text="item.Cycle"></p>
                                        <p class="text" v-text="language.SPLIT_BATCH">拆分批次</p>
                                    </div>
                                    <div class="bl">&nbsp;</div>
                                    <div class="bl">
                                        <p class="number" v-text="item.Multiple"></p>
                                        <p class="text" v-text="language.SPLIT_MULTIPLE">拆分倍率</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div v-if="pageModel.isLoadMore" class="load_more clearfix">
                        <van-loading color="black"></van-loading>
                        <span class="load_text" v-text="language.LOADING_TEXT">正在載入...</span>
                    </div>
                    <div v-if="pageModel.isLoadComplete" class="load_more_complete">
                        <span class="load_text" v-text="language.NONE_MORE_DATA">沒有更多的數據了...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../content/js/vue.js?v=28"></script>
    <script src="../../content/js/vant.min.js?v=28"></script>
    <script src="../../content/js/base.js?v=28"></script>
    <script src="../../content/js/pages/center/split.record.js?v=28"></script>
</body>
</html>