<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
    <title></title>
    <link href="../../content/css/base.css" rel="stylesheet" />
    <link href="../../content/css/vant.css" rel="stylesheet" />
    <!-- <link href="../../content/css/pages/center/split.record.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="/assets//css/split.record.css">
    <link rel="stylesheet" href="/assets/css/vue-component.css">


</head>

<body>
    <div id="app">
        <div class="page-content">
            <div class="header">
                <top-back title="拆分记录" title-color="rgba(51, 51, 51, 1)"></top-back>
            </div>
            <div class="list-wrap" @scroll="handleScroll" ref="scrollContainer">
                <div v-if="isLoading" class="loading-box">
                    <van-loading color="black"></van-loading>
                    <p class="loading-text" v-text="language.LOADING_TEXT">正在載入...</p>
                </div>
                <div v-else v-cloak>
                    <div v-if="pageModel.list.length == 0" class="none-data">
                        <i class="iconfont icon-wushuju"></i>
                        <p class="none-data-text" v-text="language.NONE_DATA">暫無任何拆分</p>
                    </div>
                    <div v-else class="list_content">
                        <ul>
                            <li v-for="(item,index) in pageModel.list" v-bind:key="index">
                                <div class="info">
                                    <div class="amount">
                                        <div class="left">
                                            <div class="value">{{item.BeforeAce}}</div>
                                            <div class="label">拆分前AK</div>
                                        </div>
                                        <div class="right">
                                            <div class="value red">{{item.AfterAce}}</div>
                                            <div class="label">拆分后AK</div>
                                        </div>
                                    </div>
                                    <div class="number">
                                        <div class="left">
                                            <div class="value">{{item.Cycle}}</div>
                                            <div class="label">拆分批次</div>
                                        </div>
                                        <div class="right">
                                            <div class="value">{{item.Multiple}}</div>
                                            <div class="label">拆分倍率</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="time">{{item.CreateTime}}</div>
                            </li>
                        </ul>
                        <div v-if="pageModel.isLoadMore" class="load_more clearfix">
                            <van-loading color="black"></van-loading>
                            <span class="load_text" v-text="language.LOADING_TEXT">正在載入...</span>
                        </div>
                        <div v-if="pageModel.isLoadComplete" class="load_more_complete">
                            <span class="load_text" v-text="language.NONE_MORE_DATA">沒有更多的數據了...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../content/js/vue.js?v=28"></script>
    <script src="../../content/js/vant.min.js?v=28"></script>
    <script src="../../content/js/base.js?v=28"></script>
    <script src="../../content/js/pages/center/split.record.js?v=28"></script>
    <script src="/content/js/vue-component.js?v=28"></script>
</body>

</html>