<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
    <title></title>
    <link href="../../content/css/base.css" rel="stylesheet" />
    <link href="../../content/css/vant.css" rel="stylesheet" />
    <link href="../../content/css/pages/center/sell.ace.css" rel="stylesheet" />
    <link href="/assets/css/vue-component.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <div class="header">
            <top-back :title="language.yjgjjl" title-color="rgba(51,51,51,1)" />
        </div>
        <div id="app-content" v-bind:style="{'paddingTop': (45 + statusbarHeight) + 'px'}">
            <!-- <div v-if="isLoading" class="loading-box p50">
                <van-loading color="black"></van-loading>
                <p class="loading-text" v-text="language.LOADING_TEXT"></p>
            </div> -->
            <div>
                <van-list v-model="isLoading" :finished="finished" finished-text="没有更多了" @load="loadPageData">
                    <div v-for="item in list" style="background-color: #fff;margin: 10px;padding: 20px;font-size:0.8em;">
                        <div style="display: flex;justify-content: space-between;">
                            <span v-text="language.price">時間</span>
                            <span>{{String(item.CreateTime)||"--"}}</span>
                        </div>
                        <div style="display: flex;justify-content: space-between;">
                            <span>EP</span>
                            <span>{{String(item.EP)||"--"}}</span>
                        </div>
                        <div style="display: flex;justify-content: space-between;">
                            <span>SP</span>
                            <span>{{String(item.SP)||"--"}}</span>
                        </div>
                        
						 
                    </div>
                </van-list>
            </div>
        </div>
    </div>
    <script src="../../content/js/vue.js?v=28"></script>
    <script src="../../content/js/vant.min.js?v=28"></script>
    <script src="../../content/js/base.js?v=28"></script>
    <script src="../../content/js/pages/center/summary_record.js"></script>
    <script src="/content/js/vue-component.js?v=28"></script>
</body>

</html>